# Set Up

In [1]:
import pandas as pd

In [2]:
countries = [
    "Australia", 
    "Austria", 
    "Belgium", 
    "Canada", 
    "Denmark", 
    "Finland", 
    "France", 
    "Germany", 
    "Greece", 
    "Italy", 
    "Japan", 
    "Mexico", 
    "Netherlands", 
    "New Zealand", 
    "Norway", 
    "Portugal", 
    "Spain", 
    "Sweden", 
    "UK", 
    "USA"
]

In [3]:
countries = countries + ['US', 'United States', 'United Kingdom', 'U.S.', 'U.S.A.', 'United States of America', 'UK', 'U.K.', 'Great Britain', 'England']
countries

['Australia',
 'Austria',
 'Belgium',
 'Canada',
 'Denmark',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Italy',
 'Japan',
 'Mexico',
 'Netherlands',
 'New Zealand',
 'Norway',
 'Portugal',
 'Spain',
 'Sweden',
 'UK',
 'USA',
 'US',
 'United States',
 'United Kingdom',
 'U.S.',
 'U.S.A.',
 'United States of America',
 'UK',
 'U.K.',
 'Great Britain',
 'England']

# External Financing (industry)

In [4]:
zingales_df = pd.read_csv('finint_df.csv')
zingales_df

    ISIC_code           Industrial_sectors  External_Finance
0         311                         Food              0.14
1         313                    Beverages              0.08
2         314                      Tobacco             -0.45
3         321  Textiles, Apparel & Leather              0.40
4        3211                     Spinning             -0.09
5         322              Wearing Apparel              0.03
6         323           Leather & Products             -0.14
7         324                     Footwear             -0.08
8         331                Wood Products              0.28
9         332         Furniture & Fixtures              0.24
10        341             Paper & Products              0.18
11       3411                  Pulp, paper              0.15
12        342        Printing & Publishing              0.20
13       3511            Basic exclud fert              0.25
14       3513             Synthetic resins              0.16
15        352              Other chemicals              0.22
16       3522            Drugs & Medicines              1.49
17        353         Petroleum Refineries              0.04
18        354    Petroleum & Coal Products              0.33
19        355              Rubber Products              0.23
20        356        Plastic Products nec.              1.14
21        361         Pottery, China, etc.             -0.15
22        362               Glass Products              0.53
23        369   Non-Metallic Products nec.              0.06
24        371                 Iron & Steel              0.09
25        372           Non-Ferrous Metals              0.01
26        381               Metal Products              0.24
27        382     Non-Electrical Machinery              0.45
28       3825           Office & Computing              1.06
29        383         Electrical Machinery              0.77
30       3832    Radio, TV & Communication              1.04
31        384          Transport Equipment              0.31
32       3841     Shipbuilding & Repairing              0.46
33       3843               Motor Vehicles              0.39
34        385           Professional Goods              0.96
35        390          Other Manufacturing              0.47

In [5]:
zingales_df= zingales_df[zingales_df['Industrial_sectors'] != "Spinning"]
zingales_df= zingales_df[zingales_df['Industrial_sectors'] != "Pulp, paper"]
zingales_df =zingales_df[zingales_df['Industrial_sectors'] != 'Basic exclud fert']
zingales_df=zingales_df[zingales_df['Industrial_sectors'] != 'Synthetic resins']

In [6]:
zingales_df.loc[36] = {
    'ISIC_code': None,
    'Industrial_sectors': 'Leather, Footwear, & Products',
    'External_Finance': -0.14 -0.08
}


zingales_df.loc[37] = {
    'ISIC_code': None,
    'Industrial_sectors': 'Furniture & Fixtures, Pottery, China, Glass Products, and Other Manufacturing',
    'External_Finance': 0.24 -0.15  + 0.53 + 0.47
}


zingales_df.loc[38] = {
    'ISIC_code': None,
    'Industrial_sectors': 'Rubber & Plastic Products',
    'External_Finance': 0.23+ 1.14
}

zingales_df = zingales_df.drop([6, 7, 9, 19, 20, 21, 22, 35])

In [7]:
zingales_df = zingales_df.reset_index(drop = True)
zingales_df= zingales_df.drop(columns=["ISIC_code"])
zingales_df

                                   Industrial_sectors  External_Finance
0                                                Food              0.14
1                                           Beverages              0.08
2                                             Tobacco             -0.45
3                         Textiles, Apparel & Leather              0.40
4                                     Wearing Apparel              0.03
5                                       Wood Products              0.28
6                                    Paper & Products              0.18
7                               Printing & Publishing              0.20
8                                     Other chemicals              0.22
9                                   Drugs & Medicines              1.49
10                               Petroleum Refineries              0.04
11                          Petroleum & Coal Products              0.33
12                         Non-Metallic Products nec.              0.06
13                                       Iron & Steel              0.09
14                                 Non-Ferrous Metals              0.01
15                                     Metal Products              0.24
16                           Non-Electrical Machinery              0.45
17                                 Office & Computing              1.06
18                               Electrical Machinery              0.77
19                          Radio, TV & Communication              1.04
20                                Transport Equipment              0.31
21                           Shipbuilding & Repairing              0.46
22                                     Motor Vehicles              0.39
23                                 Professional Goods              0.96
24                      Leather, Footwear, & Products             -0.22
25  Furniture & Fixtures, Pottery, China, Glass Pr...              1.09
26                          Rubber & Plastic Products              1.37

In [8]:
finint = zingales_df[['Industrial_sectors', 'External_Finance']]
finint

                                   Industrial_sectors  External_Finance
0                                                Food              0.14
1                                           Beverages              0.08
2                                             Tobacco             -0.45
3                         Textiles, Apparel & Leather              0.40
4                                     Wearing Apparel              0.03
5                                       Wood Products              0.28
6                                    Paper & Products              0.18
7                               Printing & Publishing              0.20
8                                     Other chemicals              0.22
9                                   Drugs & Medicines              1.49
10                               Petroleum Refineries              0.04
11                          Petroleum & Coal Products              0.33
12                         Non-Metallic Products nec.              0.06
13                                       Iron & Steel              0.09
14                                 Non-Ferrous Metals              0.01
15                                     Metal Products              0.24
16                           Non-Electrical Machinery              0.45
17                                 Office & Computing              1.06
18                               Electrical Machinery              0.77
19                          Radio, TV & Communication              1.04
20                                Transport Equipment              0.31
21                           Shipbuilding & Repairing              0.46
22                                     Motor Vehicles              0.39
23                                 Professional Goods              0.96
24                      Leather, Footwear, & Products             -0.22
25  Furniture & Fixtures, Pottery, China, Glass Pr...              1.09
26                          Rubber & Plastic Products              1.37

In [9]:
finint_ind = finint.groupby('Industrial_sectors', as_index=False).mean('External_Finance')
finint_ind

                                   Industrial_sectors  External_Finance
0                                           Beverages              0.08
1                                   Drugs & Medicines              1.49
2                                Electrical Machinery              0.77
3                                                Food              0.14
4   Furniture & Fixtures, Pottery, China, Glass Pr...              1.09
5                                        Iron & Steel              0.09
6                       Leather, Footwear, & Products             -0.22
7                                      Metal Products              0.24
8                                      Motor Vehicles              0.39
9                            Non-Electrical Machinery              0.45
10                                 Non-Ferrous Metals              0.01
11                         Non-Metallic Products nec.              0.06
12                                 Office & Computing              1.06
13                                    Other chemicals              0.22
14                                   Paper & Products              0.18
15                          Petroleum & Coal Products              0.33
16                               Petroleum Refineries              0.04
17                              Printing & Publishing              0.20
18                                 Professional Goods              0.96
19                          Radio, TV & Communication              1.04
20                          Rubber & Plastic Products              1.37
21                           Shipbuilding & Repairing              0.46
22                        Textiles, Apparel & Leather              0.40
23                                            Tobacco             -0.45
24                                Transport Equipment              0.31
25                                    Wearing Apparel              0.03
26                                      Wood Products              0.28

# Trade (country, industry)

In [10]:
trade_df = pd.read_csv('OECD_trade.csv')
trade_df.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'FREQ',
       'Frequency of observation', 'REF_AREA', 'Reference area', 'TRADE_FLOW',
       'Trade flow', 'END_USE', 'End-use', 'PRODUCT', 'Product',
       'COUNTERPART_AREA', 'Counterpart area', 'UNIT_MEASURE',
       'Unit of measure', 'TIME_PERIOD', 'Time period', 'OBS_VALUE',
       'Observation value', 'UNIT_MULT', 'Unit multiplier'],
      dtype='object')

In [11]:
trade_df = trade_df[['REF_AREA', 'Reference area', 'PRODUCT', 'Product', 'TRADE_FLOW', 'Trade flow', 'TIME_PERIOD', 'OBS_VALUE']]

trade_df

,REF_AREA,Reference area,PRODUCT,Product,TRADE_FLOW,Trade flow,TIME_PERIOD,OBS_VALUE
0,GBR,United Kingdom,CPA_2_1_C18,Printing and reproduction services of recorded...,M,Imports,1989,98480.6
1,CAN,Canada,CPA_2_1_C27,Electrical equipment,X,Exports,1991,1703580.2
2,CAN,Canada,CPA_2_1_C23,Other non-metallic mineral products,X,Exports,1991,803729.1
3,CAN,Canada,CPA_2_1_C16,"Wood and of products of wood and cork, except ...",M,Imports,1991,848893.5
4,CAN,Canada,CPA_2_1_C21,Basic pharmaceutical products and pharmaceutic...,M,Imports,1991,984132.6
...,...,...,...,...,...,...,...,...
3098,GBR,United Kingdom,CPA_2_1_C10,Food products,M,Imports,1989,12111828.2
3099,GBR,United Kingdom,CPA_2_1_C15,Leather and related products,M,Imports,1989,2464665.5
3100,GBR,United Kingdom,CPA_2_1_C19,Coke and refined petroleum products,M,Imports,1989,2962845.0
3101,GBR,United Kingdom,CPA_2_1_C24FER,Iron and steel; Casting of iron and steel,M,Imports,1989,4603815.9
3102,GBR,United Kingdom,CPA_2_1_C25,"Fabricated metal products, except machinery an...",M,Imports,1989,4827100.7

In [12]:
trade_df.pivot(columns= ['Trade flow'], values='OBS_VALUE').reset_index()

Trade flow  index    Exports     Imports
0               0        NaN     98480.6
1               1  1703580.2         NaN
2               2   803729.1         NaN
3               3        NaN    848893.5
4               4        NaN    984132.6
...           ...        ...         ...
3098         3098        NaN  12111828.2
3099         3099        NaN   2464665.5
3100         3100        NaN   2962845.0
3101         3101        NaN   4603815.9
3102         3102        NaN   4827100.7

[3103 rows x 3 columns]

In [13]:
id_cols = [
    'REF_AREA',
    'Reference area',
    'PRODUCT',
    'Product',
    'TIME_PERIOD'
]

trade_wide = (
    trade_df
    .pivot_table(
        index=id_cols,
        columns='Trade flow',     # or 'TRADE_FLOW' if you prefer M/X
        values='OBS_VALUE',
        aggfunc='sum'
    )
    .reset_index()
)
trade_wide

Trade flow,REF_AREA,Reference area,PRODUCT,Product,TIME_PERIOD,Exports,Imports
0,AUS,Australia,CPA_2_1_B05,Coal and lignite,1989,3847145.6,14100.6
1,AUS,Australia,CPA_2_1_B05,Coal and lignite,1990,4366038.5,461.2
2,AUS,Australia,CPA_2_1_B05,Coal and lignite,1991,4927238.2,640.5
3,AUS,Australia,CPA_2_1_B06,Crude petroleum and natural gas,1989,602854.1,929654.2
4,AUS,Australia,CPA_2_1_B06,Crude petroleum and natural gas,1990,1727817.0,1039896.2
...,...,...,...,...,...,...,...
1563,USA,United States,CPA_2_1_J59_60,"Audiovisual production, programming and broadc...",1990,1936381.9,404139.0
1564,USA,United States,CPA_2_1_J59_60,"Audiovisual production, programming and broadc...",1991,2292314.2,457607.5
1565,USA,United States,CPA_2_1_M74,"Other professional, scientific and technical s...",1989,49705.9,NaN
1566,USA,United States,CPA_2_1_M74,"Other professional, scientific and technical s...",1990,68079.0,19255.2
1567,USA,United States,CPA_2_1_M74,"Other professional, scientific and technical s...",1991,67633.9,22535.0

In [14]:
trade_wide['Exports'] = trade_wide['Exports']/1000
trade_wide['Imports'] = trade_wide['Imports']/1000
trade_wide

Trade flow,REF_AREA,Reference area,PRODUCT,Product,TIME_PERIOD,Exports,Imports
0,AUS,Australia,CPA_2_1_B05,Coal and lignite,1989,3847.1456,14.1006
1,AUS,Australia,CPA_2_1_B05,Coal and lignite,1990,4366.0385,0.4612
2,AUS,Australia,CPA_2_1_B05,Coal and lignite,1991,4927.2382,0.6405
3,AUS,Australia,CPA_2_1_B06,Crude petroleum and natural gas,1989,602.8541,929.6542
4,AUS,Australia,CPA_2_1_B06,Crude petroleum and natural gas,1990,1727.8170,1039.8962
...,...,...,...,...,...,...,...
1563,USA,United States,CPA_2_1_J59_60,"Audiovisual production, programming and broadc...",1990,1936.3819,404.1390
1564,USA,United States,CPA_2_1_J59_60,"Audiovisual production, programming and broadc...",1991,2292.3142,457.6075
1565,USA,United States,CPA_2_1_M74,"Other professional, scientific and technical s...",1989,49.7059,NaN
1566,USA,United States,CPA_2_1_M74,"Other professional, scientific and technical s...",1990,68.0790,19.2552
1567,USA,United States,CPA_2_1_M74,"Other professional, scientific and technical s...",1991,67.6339,22.5350

In [15]:
trade_wide = trade_wide[trade_wide['TIME_PERIOD'].isin([1989,1990,1991])]

In [16]:
trade_df[trade_df.isna().any(axis=1)]

Empty DataFrame
Columns: [REF_AREA, Reference area, PRODUCT, Product, TRADE_FLOW, Trade flow, TIME_PERIOD, OBS_VALUE]
Index: []

In [17]:
trade_wide['Product'].unique()

array(['Coal and lignite', 'Crude petroleum and natural gas',
       'Food products', 'Beverages', 'Tobacco products', 'Textiles',
       'Wearing apparel', 'Leather and related products',
       'Wood and of products of wood and cork, except furniture; articles of straw and plaiting materials',
       'Paper and paper products',
       'Printing and reproduction services of recorded media',
       'Coke and refined petroleum products',
       'Chemicals and chemical products',
       'Basic pharmaceutical products and pharmaceutical preparations',
       'Rubber and plastic products',
       'Other non-metallic mineral products',
       'Iron and steel; Casting of iron and steel',
       'Basic precious and other non-ferrous metals; Casting of light and other non-ferrous metals',
       'Fabricated metal products, except machinery and equipment',
       'Computer, electronic and optical products',
       'Electrical equipment', 'Machinery and equipment n.e.c.',
       'Motor vehicles, trailers and semi-trailers',
       'Motor vehicles, trailers, semi-trailers and of other transport equipment',
       'Ships and boats', 'Furniture and other manufactured goods',
       'Audiovisual production, programming and broadcasting services',
       'Other professional, scientific and technical services'],
      dtype=object)

In [18]:
#OECD and zingales_df industry crosswalk

trade_wide['Product'] = trade_wide['Product'].map({'Coal and lignite': 'Petroleum & Coal Products', 
       'Crude petroleum and natural gas': 'Petroleum & Coal Products',
       'Food products': 'Food', 
       'Beverages': 'Beverages', 
       'Tobacco products': 'Tobacco', 
       'Textiles': 'Textiles, Apparel & Leather',
       'Wearing apparel': 'Wearing Apparel',
       'Leather and related products': 'Leather, Footwear, & Products',
       'Wood and of products of wood and cork, except furniture; articles of straw and plaiting materials': 'Wood Products',
       'Paper and paper products': 'Paper & Products',
       'Printing and reproduction services of recorded media': 'Printing & Publishing',
       'Coke and refined petroleum products': 'Petroleum Refineries',
       'Chemicals and chemical products': 'Other chemicals',
       'Basic pharmaceutical products and pharmaceutical preparations': 'Drugs & Medicines',
       'Rubber and plastic products': 'Rubber & Plastic Products',
       'Other non-metallic mineral products': 'Non-Metallic Products nec.',
       'Iron and steel; Casting of iron and steel': 'Iron & Steel',
       'Basic precious and other non-ferrous metals; Casting of light and other non-ferrous metals': 'Non-Ferrous Metals',
       'Fabricated metal products, except machinery and equipment': 'Metal Products',
       'Computer, electronic and optical products': 'Office & Computing',
       'Electrical equipment': 'Electrical Machinery', 
       'Machinery and equipment n.e.c.': 'Non-Electrical Machinery',
       'Motor vehicles, trailers and semi-trailers':'Motor Vehicles',
       'Motor vehicles, trailers, semi-trailers and of other transport equipment':'Transport Equipment',
       'Ships and boats': 'Shipbuilding & Repairing', 
       'Furniture and other manufactured goods': 'Furniture & Fixtures, Pottery, China, Glass Products, and Other Manufacturing',
       'Audiovisual production, programming and broadcasting services': 'Radio, TV & Communication',
       'Other professional, scientific and technical services': 'Professional Goods'})

In [19]:
trade_wide['Net Exports'] = trade_wide['Exports'] - trade_wide['Imports'] 
trade_wide.groupby(['Product', 'Reference area', 'TIME_PERIOD'], as_index=False).sum('Net Exports')
trade_wide

Trade flow,REF_AREA,Reference area,PRODUCT,Product,TIME_PERIOD,Exports,Imports,Net Exports
0,AUS,Australia,CPA_2_1_B05,Petroleum & Coal Products,1989,3847.1456,14.1006,3833.0450
1,AUS,Australia,CPA_2_1_B05,Petroleum & Coal Products,1990,4366.0385,0.4612,4365.5773
2,AUS,Australia,CPA_2_1_B05,Petroleum & Coal Products,1991,4927.2382,0.6405,4926.5977
3,AUS,Australia,CPA_2_1_B06,Petroleum & Coal Products,1989,602.8541,929.6542,-326.8001
4,AUS,Australia,CPA_2_1_B06,Petroleum & Coal Products,1990,1727.8170,1039.8962,687.9208
...,...,...,...,...,...,...,...,...
1563,USA,United States,CPA_2_1_J59_60,"Radio, TV & Communication",1990,1936.3819,404.1390,1532.2429
1564,USA,United States,CPA_2_1_J59_60,"Radio, TV & Communication",1991,2292.3142,457.6075,1834.7067
1565,USA,United States,CPA_2_1_M74,Professional Goods,1989,49.7059,NaN,NaN
1566,USA,United States,CPA_2_1_M74,Professional Goods,1990,68.0790,19.2552,48.8238
1567,USA,United States,CPA_2_1_M74,Professional Goods,1991,67.6339,22.5350,45.0989

In [20]:
trade_ind = (
    trade_wide
    .groupby(['Product', 'Reference area'], as_index=False)['Net Exports']
    .mean(numeric_only=True)
)
#trade_ind = trade_ind.rename(columns={'OBS_VALUE': 'Trade'})
trade_ind

           Product  Reference area  Net Exports
0        Beverages       Australia    85.229333
1        Beverages         Belgium  -355.001867
2        Beverages          Canada    67.885133
3        Beverages         Denmark   -58.303033
4        Beverages         Finland   -24.883833
..             ...             ...          ...
508  Wood Products        Portugal   820.239067
509  Wood Products           Spain  -482.885900
510  Wood Products          Sweden  1681.445067
511  Wood Products  United Kingdom -3565.742600
512  Wood Products   United States -1733.978250

[513 rows x 3 columns]

# OECD Structural Data (Country, industry)

In [21]:
macro_df = pd.read_csv('OECD_notrade.csv')

In [22]:
macro_df = macro_df[['REF_AREA', 'Reference area', 'ACTIVITY', 'Economic activity', 'MEASURE', 'Measure', 'TIME_PERIOD', 'OBS_VALUE']]
macro_df

,REF_AREA,Reference area,ACTIVITY,Economic activity,MEASURE,Measure,TIME_PERIOD,OBS_VALUE
0,NOR,Norway,C26,"Manufacture of computer, electronic and optica...",P51G,Gross fixed capital formation,1991,1007.000
1,NOR,Norway,C29,"Manufacture of motor vehicles, trailers and se...",P51G,Gross fixed capital formation,1991,180.000
2,NOR,Norway,C18,Printing and reproduction of recorded media,P51G,Gross fixed capital formation,1991,335.000
3,NOR,Norway,J59_60,"Motion picture, video, television programme pr...",P51G,Gross fixed capital formation,1991,367.000
4,NOR,Norway,M_N,"Professional, scientific and technical activit...",P51G,Gross fixed capital formation,1991,3511.000
...,...,...,...,...,...,...,...,...
3858,DNK,Denmark,C17,Manufacture of paper and paper products,EMP,Total employment,1991,18.761
3859,DNK,Denmark,C29,"Manufacture of motor vehicles, trailers and se...",EMP,Total employment,1991,9.569
3860,DNK,Denmark,C16,Manufacture of wood and of products of wood an...,EMP,Total employment,1991,19.025
3861,DNK,Denmark,C22,Manufacture of rubber and plastics products,EMP,Total employment,1991,26.549
3862,DNK,Denmark,C23,Manufacture of other non-metallic mineral prod...,EMP,Total employment,1991,32.415

In [23]:
macro_df = macro_df[macro_df['TIME_PERIOD'].isin([1989,1990,1991])]
macro_df

,REF_AREA,Reference area,ACTIVITY,Economic activity,MEASURE,Measure,TIME_PERIOD,OBS_VALUE
0,NOR,Norway,C26,"Manufacture of computer, electronic and optica...",P51G,Gross fixed capital formation,1991,1007.000
1,NOR,Norway,C29,"Manufacture of motor vehicles, trailers and se...",P51G,Gross fixed capital formation,1991,180.000
2,NOR,Norway,C18,Printing and reproduction of recorded media,P51G,Gross fixed capital formation,1991,335.000
3,NOR,Norway,J59_60,"Motion picture, video, television programme pr...",P51G,Gross fixed capital formation,1991,367.000
4,NOR,Norway,M_N,"Professional, scientific and technical activit...",P51G,Gross fixed capital formation,1991,3511.000
...,...,...,...,...,...,...,...,...
3858,DNK,Denmark,C17,Manufacture of paper and paper products,EMP,Total employment,1991,18.761
3859,DNK,Denmark,C29,"Manufacture of motor vehicles, trailers and se...",EMP,Total employment,1991,9.569
3860,DNK,Denmark,C16,Manufacture of wood and of products of wood an...,EMP,Total employment,1991,19.025
3861,DNK,Denmark,C22,Manufacture of rubber and plastics products,EMP,Total employment,1991,26.549
3862,DNK,Denmark,C23,Manufacture of other non-metallic mineral prod...,EMP,Total employment,1991,32.415

In [24]:
macro_df[macro_df.isna().any(axis=1)]

Empty DataFrame
Columns: [REF_AREA, Reference area, ACTIVITY, Economic activity, MEASURE, Measure, TIME_PERIOD, OBS_VALUE]
Index: []

In [25]:
macro_df['Economic activity'].unique()

array(['Manufacture of computer, electronic and optical products',
       'Manufacture of motor vehicles, trailers and semi-trailers',
       'Printing and reproduction of recorded media',
       'Motion picture, video, television programme production; programming and broadcasting activities',
       'Professional, scientific and technical activities; administrative and support service activities',
       'Manufacture of wood and of products of wood and cork, except furniture; manufacture of articles of straw and plaiting materials',
       'Manufacture of machinery and equipment n.e.c.',
       'Manufacture of motor vehicles, trailers, semi-trailers and of other transport equipment',
       'Manufacture of electrical equipment',
       'Manufacture of paper and paper products',
       'Manufacture of fabricated metal products, except machinery and equipment',
       'Manufacture of furniture; other manufacturing',
       'Manufacture of tobacco products', 'Manufacture of food products',
       'Manufacture of coke and refined petroleum products',
       'Manufacture of beverages',
       'Manufacture of other non-metallic mineral products',
       'Manufacture of rubber and plastics products',
       'Manufacture of chemicals and chemical products',
       'Manufacture of basic pharmaceutical products and pharmaceutical preparations',
       'Manufacture of wearing apparel', 'Manufacture of textiles',
       'Manufacture of leather and related products',
       'Mining and extraction of energy producing products',
       'Manufacture of basic iron and steel and of ferro-alloys; of tubes, pipes, hollow profiles, related fittings and other products of first processing of steel; casting of iron and steel',
       'Manufacture of basic precious and other non-ferrous metals; casting of light metals and other non-ferrous metals',
       'Building of ships and boats'], dtype=object)

In [26]:
macro_df['Economic activity'].unique()

array(['Manufacture of computer, electronic and optical products',
       'Manufacture of motor vehicles, trailers and semi-trailers',
       'Printing and reproduction of recorded media',
       'Motion picture, video, television programme production; programming and broadcasting activities',
       'Professional, scientific and technical activities; administrative and support service activities',
       'Manufacture of wood and of products of wood and cork, except furniture; manufacture of articles of straw and plaiting materials',
       'Manufacture of machinery and equipment n.e.c.',
       'Manufacture of motor vehicles, trailers, semi-trailers and of other transport equipment',
       'Manufacture of electrical equipment',
       'Manufacture of paper and paper products',
       'Manufacture of fabricated metal products, except machinery and equipment',
       'Manufacture of furniture; other manufacturing',
       'Manufacture of tobacco products', 'Manufacture of food products',
       'Manufacture of coke and refined petroleum products',
       'Manufacture of beverages',
       'Manufacture of other non-metallic mineral products',
       'Manufacture of rubber and plastics products',
       'Manufacture of chemicals and chemical products',
       'Manufacture of basic pharmaceutical products and pharmaceutical preparations',
       'Manufacture of wearing apparel', 'Manufacture of textiles',
       'Manufacture of leather and related products',
       'Mining and extraction of energy producing products',
       'Manufacture of basic iron and steel and of ferro-alloys; of tubes, pipes, hollow profiles, related fittings and other products of first processing of steel; casting of iron and steel',
       'Manufacture of basic precious and other non-ferrous metals; casting of light metals and other non-ferrous metals',
       'Building of ships and boats'], dtype=object)

In [27]:
macro_df['Economic activity'] = macro_df['Economic activity'].map({'Manufacture of wood and of products of wood and cork, except furniture; manufacture of articles of straw and plaiting materials': 'Wood Products',
       'Professional, scientific and technical activities; administrative and support service activities': 'Professional Goods',
       'Manufacture of electrical equipment': 'Electrical Machinery',
       'Manufacture of computer, electronic and optical products': 'Office & Computing',
       'Manufacture of motor vehicles, trailers and semi-trailers': 'Motor Vehicles',
       'Manufacture of fabricated metal products, except machinery and equipment': 'Metal Products',
       'Manufacture of paper and paper products': 'Paper & Products',
       'Motion picture, video, television programme production; programming and broadcasting activities': 'Radio, TV & Communication',
       'Printing and reproduction of recorded media': 'Printing & Publishing',
       'Manufacture of furniture; other manufacturing': 'Furniture & Fixtures, Pottery, China, Glass Products, and Other Manufacturing',
       'Manufacture of motor vehicles, trailers, semi-trailers and of other transport equipment': 'Transport Equipment',
       'Manufacture of machinery and equipment n.e.c.': 'Non-Electrical Machinery',
       'Manufacture of tobacco products': 'Tobacco', 
       'Manufacture of food products': 'Food',
       'Manufacture of beverages': 'Beverages',
       'Manufacture of other non-metallic mineral products': 'Non-Metallic Products nec.',
       'Manufacture of rubber and plastics products': 'Rubber & Plastic Products',
       'Manufacture of chemicals and chemical products': 'Other chemicals',
       'Manufacture of basic pharmaceutical products and pharmaceutical preparations': 'Drugs & Medicines',
       'Manufacture of wearing apparel': 'Wearing Apparel', 
       'Manufacture of textiles': 'Textiles, Apparel & Leather',
       'Manufacture of leather and related products': 'Leather, Footwear, & Products',
       'Manufacture of basic iron and steel and of ferro-alloys; of tubes, pipes, hollow profiles, related fittings and other products of first processing of steel; casting of iron and steel': 'Iron & Steel',
       'Manufacture of basic precious and other non-ferrous metals; casting of light metals and other non-ferrous metals': 'Non-Ferrous Metals',
       'Building of ships and boats': 'Shipbuilding & Repairing',
       'Manufacture of coke and refined petroleum products': 'Petroleum Refineries',
       'Mining and extraction of energy producing products': 'Petroleum & Coal Products'})

In [28]:
macro_df['Measure'].unique()

array(['Gross fixed capital formation', 'Compensation of employees',
       'Output', 'Value added', 'Total employment'], dtype=object)

In [29]:
macro_df

,REF_AREA,Reference area,ACTIVITY,Economic activity,MEASURE,Measure,TIME_PERIOD,OBS_VALUE
0,NOR,Norway,C26,Office & Computing,P51G,Gross fixed capital formation,1991,1007.000
1,NOR,Norway,C29,Motor Vehicles,P51G,Gross fixed capital formation,1991,180.000
2,NOR,Norway,C18,Printing & Publishing,P51G,Gross fixed capital formation,1991,335.000
3,NOR,Norway,J59_60,"Radio, TV & Communication",P51G,Gross fixed capital formation,1991,367.000
4,NOR,Norway,M_N,Professional Goods,P51G,Gross fixed capital formation,1991,3511.000
...,...,...,...,...,...,...,...,...
3858,DNK,Denmark,C17,Paper & Products,EMP,Total employment,1991,18.761
3859,DNK,Denmark,C29,Motor Vehicles,EMP,Total employment,1991,9.569
3860,DNK,Denmark,C16,Wood Products,EMP,Total employment,1991,19.025
3861,DNK,Denmark,C22,Rubber & Plastic Products,EMP,Total employment,1991,26.549
3862,DNK,Denmark,C23,Non-Metallic Products nec.,EMP,Total employment,1991,32.415

In [30]:
macro_df[macro_df['Measure'] == ("Intermediate consumption")]

Empty DataFrame
Columns: [REF_AREA, Reference area, ACTIVITY, Economic activity, MEASURE, Measure, TIME_PERIOD, OBS_VALUE]
Index: []

In [31]:
macro_df[macro_df.isna().any(axis=1)]

Empty DataFrame
Columns: [REF_AREA, Reference area, ACTIVITY, Economic activity, MEASURE, Measure, TIME_PERIOD, OBS_VALUE]
Index: []

In [32]:
list(macro_df[macro_df['Reference area'] == "Portugal"]["Measure"].unique())

['Output', 'Compensation of employees']

In [33]:
# consumption = macro_df[macro_df['Measure'].isin([
#     "Consumption of fixed capital",
#     "Intermediate consumption"
# ])]

# consumption

In [34]:
# consumption_ind = (
#     consumption
#     .groupby(['Economic activity', 'Reference area'], as_index=False)['OBS_VALUE']
#     .mean(numeric_only=True)
# )
# consumption_ind = consumption_ind.rename(columns={'OBS_VALUE': 'Consumption'})
# consumption_ind

In [35]:
production_ind = (
    macro_df[macro_df['Measure'] == 'Output']
    .groupby(['Economic activity', 'Reference area'], as_index=False)['OBS_VALUE']
    .mean(numeric_only=True)
)
production_ind = production_ind.rename(columns={'OBS_VALUE': 'Production'})
production_ind

    Economic activity  Reference area    Production
0           Beverages         Austria  1.553369e+03
1           Beverages          Canada  6.233989e+03
2           Beverages         Denmark  7.855333e+03
3           Beverages         Finland  6.800000e+02
4           Beverages           Japan  5.751734e+06
..                ...             ...           ...
340     Wood Products          Norway  1.418267e+04
341     Wood Products        Portugal  1.628034e+03
342     Wood Products          Sweden  5.122454e+04
343     Wood Products  United Kingdom  4.346022e+03
344     Wood Products   United States  5.624034e+04

[345 rows x 3 columns]

In [36]:
r_ind = production_ind.merge(trade_ind, how = 'left', left_on = ['Economic activity', 'Reference area'], right_on = ['Product', 'Reference area'])
r_ind

,Economic activity,Reference area,Production,Product,Net Exports
0,Beverages,Austria,1.553369e+03,NaN,NaN
1,Beverages,Canada,6.233989e+03,Beverages,67.885133
2,Beverages,Denmark,7.855333e+03,Beverages,-58.303033
3,Beverages,Finland,6.800000e+02,Beverages,-24.883833
4,Beverages,Japan,5.751734e+06,Beverages,-2005.853067
...,...,...,...,...,...
340,Wood Products,Norway,1.418267e+04,Wood Products,-58.075033
341,Wood Products,Portugal,1.628034e+03,Wood Products,820.239067
342,Wood Products,Sweden,5.122454e+04,Wood Products,1681.445067
343,Wood Products,United Kingdom,4.346022e+03,Wood Products,-3565.742600
344,Wood Products,United States,5.624034e+04,Wood Products,-1733.978250

In [37]:
r_ind['r'] = r_ind['Production']/(r_ind['Production']-r_ind['Net Exports'])
r_ind = r_ind.drop(columns = ['Production', 'Product'])

r_ind

    Economic activity  Reference area  Net Exports         r
0           Beverages         Austria          NaN       NaN
1           Beverages          Canada    67.885133  1.011009
2           Beverages         Denmark   -58.303033  0.992633
3           Beverages         Finland   -24.883833  0.964698
4           Beverages           Japan -2005.853067  0.999651
..                ...             ...          ...       ...
340     Wood Products          Norway   -58.075033  0.995922
341     Wood Products        Portugal   820.239067  2.015405
342     Wood Products          Sweden  1681.445067  1.033939
343     Wood Products  United Kingdom -3565.742600  0.549311
344     Wood Products   United States -1733.978250  0.970091

[345 rows x 4 columns]

In [38]:
r_ind[r_ind.isna().any(axis=1)]

,Economic activity,Reference area,Net Exports,r
0,Beverages,Austria,NaN,NaN
7,Drugs & Medicines,Austria,NaN,NaN
20,Electrical Machinery,Austria,NaN,NaN
35,Food,Austria,NaN,NaN
43,"Furniture & Fixtures, Pottery, China, Glass Pr...",Austria,NaN,NaN
51,Iron & Steel,Austria,NaN,NaN
62,"Leather, Footwear, & Products",Austria,NaN,NaN
76,Metal Products,Austria,NaN,NaN
92,Motor Vehicles,Austria,NaN,NaN
107,Non-Electrical Machinery,Austria,NaN,NaN
122,Non-Ferrous Metals,Austria,NaN,NaN
133,Non-Metallic Products nec.,Austria,NaN,NaN
148,Office & Computing,Austria,NaN,NaN
163,Other chemicals,Austria,NaN,NaN
177,Paper & Products,Austria,NaN,NaN
193,Petroleum & Coal Products,Austria,NaN,NaN
203,Petroleum Refineries,Austria,NaN,NaN
218,Printing & Publishing,Austria,NaN,NaN
234,Professional Goods,Austria,NaN,NaN
248,"Radio, TV & Communication",Austria,NaN,NaN
256,Rubber & Plastic Products,Austria,NaN,NaN
278,"Textiles, Apparel & Leather",Austria,NaN,NaN
289,Tobacco,Austria,NaN,NaN
302,Transport Equipment,Austria,NaN,NaN
318,Wearing Apparel,Austria,NaN,NaN
329,Wood Products,Austria,NaN,NaN

# Stock Market Data (Country)

In [39]:
stock_df = pd.read_excel('FinancialStructureDatabase.xlsx', sheet_name = "cleaned")
stock_df

,country,cncode,year,region,incomegr,dbacba,llgdp,cbagdp,dbagdp,ofagdp,...,stvaltraded,stturnover,listco_pc,prbond,pubond,intldebt,intldebtnet,nrbloan,offdep,remit
0,Afghanistan,AFG,1960,South Asia,Low income,25.78107,5.680628,5.596859,1.944154,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1961,South Asia,Low income,23.67676,5.810696,6.181664,1.917657,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1962,South Asia,Low income,20.12291,6.430921,7.481908,1.884868,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1963,South Asia,Low income,17.98505,7.260351,8.386943,1.839172,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1964,South Asia,Low income,16.63790,8.473561,9.763608,1.948678,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12407,Zimbabwe,ZWE,2013,Sub-Saharan Africa,Low income,75.57709,20.009920,6.555508,20.286120,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.973314,22.02786,9.901364
12408,Zimbabwe,ZWE,2014,Sub-Saharan Africa,Low income,77.84063,21.300630,6.141318,21.573000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.93333,9.766197
12409,Zimbabwe,ZWE,2015,Sub-Saharan Africa,Low income,77.61427,22.764600,6.631569,22.992520,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.63912,10.251800
12410,Zimbabwe,ZWE,2016,Sub-Saharan Africa,Low income,70.98006,25.207560,9.813620,24.003200,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.95817,9.032381
12411,Zimbabwe,ZWE,2017,Sub-Saharan Africa,Low income,62.12107,30.290100,15.625870,25.626270,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.82353,7.582883

In [40]:
stock_df = stock_df[stock_df['country'].isin(countries)]
stock_df

,country,cncode,year,region,incomegr,dbacba,llgdp,cbagdp,dbagdp,ofagdp,...,stvaltraded,stturnover,listco_pc,prbond,pubond,intldebt,intldebtnet,nrbloan,offdep,remit
522,Australia,AUS,1960,East Asia & Pacific,High income,83.07536,42.38745,6.827211,33.51168,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
523,Australia,AUS,1961,East Asia & Pacific,High income,84.69322,43.56009,6.254304,34.60540,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,Australia,AUS,1962,East Asia & Pacific,High income,86.41574,43.50461,5.464250,34.76062,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525,Australia,AUS,1963,East Asia & Pacific,High income,88.70193,43.51524,4.502865,35.35231,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,Australia,AUS,1964,East Asia & Pacific,High income,90.72701,44.13616,3.727922,36.47399,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11827,United States,USA,2013,North America,High income,75.58759,72.75591,18.874270,58.43993,154.5848,...,196.7740,154.7587,1322.543,NaN,NaN,17.87238,0.228218,17.77834,12.153590,0.039399
11828,United States,USA,2014,North America,High income,71.85853,73.24656,22.880750,58.42540,158.7788,...,208.5104,152.9651,1372.232,NaN,NaN,17.59315,0.232888,17.35997,10.107080,0.037114
11829,United States,USA,2015,North America,High income,71.81490,73.49581,23.262580,59.27243,155.5737,...,221.8178,160.1566,1365.892,NaN,NaN,17.66472,0.074482,17.53617,8.287304,0.036105
11830,United States,USA,2016,North America,High income,73.21300,74.97203,22.615920,61.81279,155.0102,...,224.0610,159.8839,1340.571,NaN,NaN,17.77479,0.154294,17.80863,8.018504,0.034564
11831,United States,USA,2017,North America,High income,74.17124,75.27348,21.746480,62.44835,160.0327,...,211.1149,133.2689,1333.550,NaN,NaN,18.68041,0.227827,18.69905,9.498503,0.032337

In [41]:
stock_df= stock_df[stock_df['year'].isin([1989,1990,1991])]

In [42]:
stock_df

,country,cncode,year,region,incomegr,dbacba,llgdp,cbagdp,dbagdp,ofagdp,...,stvaltraded,stturnover,listco_pc,prbond,pubond,intldebt,intldebtnet,nrbloan,offdep,remit
551,Australia,AUS,1989,East Asia & Pacific,High income,97.75558,44.47738,1.283437,55.89988,NaN,...,15.171860,29.099250,7481.6830,35.312670,24.140100,19.170110,-0.150035,19.717380,NaN,0.802723
552,Australia,AUS,1990,East Asia & Pacific,High income,98.34058,50.46388,1.079239,63.95802,NaN,...,13.228740,32.979840,6381.4450,35.338470,24.526440,20.710990,-0.216555,20.991400,NaN,0.762476
553,Australia,AUS,1991,East Asia & Pacific,High income,98.26285,53.04521,1.177361,66.59801,NaN,...,13.342420,35.796470,5600.5560,32.808640,28.644110,20.299150,-0.199812,20.430270,NaN,0.763870
609,Austria,AUT,1989,Europe & Central Asia,High income,99.67919,81.97433,0.368733,114.56990,NaN,...,10.494150,155.670000,1141.7970,NaN,NaN,19.679730,0.612295,19.809050,NaN,0.352745
610,Austria,AUT,1990,Europe & Central Asia,High income,99.67298,82.90494,0.381771,116.36010,NaN,...,26.572560,209.491200,1289.4230,29.084190,23.624910,19.278270,0.347824,19.443910,NaN,0.381365
611,Austria,AUT,1991,Europe & Central Asia,High income,99.66362,84.02834,0.397290,117.70980,NaN,...,18.753090,30.528390,1328.1940,27.837560,25.017780,20.305740,0.601286,20.424160,NaN,0.444421
1015,Belgium,BEL,1989,Europe & Central Asia,High income,95.43642,44.66941,3.022629,63.21099,NaN,...,4.916138,13.075020,1911.9120,NaN,NaN,11.216270,0.843125,11.371280,NaN,1.657551
1016,Belgium,BEL,1990,Europe & Central Asia,High income,96.48636,45.03591,2.390977,65.65742,NaN,...,4.215049,9.424293,1825.9570,52.985930,88.464390,12.052870,0.454874,12.224430,NaN,1.735757
1017,Belgium,BEL,1991,Europe & Central Asia,High income,97.73483,44.97462,1.525591,65.82412,NaN,...,3.295626,9.973173,1829.1790,55.069160,91.239140,16.398220,1.183153,16.563670,NaN,1.877053
1943,Canada,CAN,1989,North America,High income,95.84208,66.46623,3.102236,71.50794,17.483100,...,14.315340,17.622700,6646.6790,19.166630,60.765600,16.873090,0.100521,17.170160,NaN,NaN
1944,Canada,CAN,1990,North America,High income,96.25571,70.80396,2.962215,76.15049,18.520990,...,13.486450,13.389390,6366.6580,19.225730,63.207620,17.306860,0.229489,17.647380,NaN,NaN
1945,Canada,CAN,1991,North America,High income,96.41721,75.26109,3.058764,82.31490,19.971180,...,11.885930,14.789800,5881.4250,18.574180,69.286480,19.368530,0.675702,19.399730,NaN,NaN
2987,Denmark,DNK,1989,Europe & Central Asia,High income,98.41068,55.55900,0.976522,60.46618,NaN,...,8.224643,43.071990,5299.4640,NaN,NaN,24.759480,0.721471,25.207000,NaN,NaN
2988,Denmark,DNK,1990,Europe & Central Asia,High income,97.98241,55.07043,1.230385,59.75238,NaN,...,10.286410,27.481330,5310.3140,99.611370,51.905060,22.544850,-0.328397,22.780920,NaN,NaN
2989,Denmark,DNK,1991,Europe & Central Asia,High income,97.13770,55.81261,1.636669,55.54355,NaN,...,7.756717,24.287290,5044.3340,98.113290,53.495270,18.936680,-1.481059,19.125190,NaN,NaN
3799,Finland,FIN,1989,Europe & Central Asia,High income,98.42352,51.58885,1.191317,74.37635,NaN,...,6.214045,25.512580,1591.3400,NaN,NaN,14.340190,0.278840,14.691170,NaN,0.059506
3800,Finland,FIN,1990,Europe & Central Asia,High income,98.73724,52.52430,1.022553,79.95493,NaN,...,4.640648,14.218820,1463.9730,34.560790,4.237268,17.277510,1.346828,17.515130,NaN,0.044435
3801,Finland,FIN,1991,Europe & Central Asia,High income,98.97556,57.50949,0.931386,89.98593,NaN,...,2.159237,8.373663,1256.5470,37.643840,6.090534,23.057940,1.227061,23.335280,NaN,0.079134
3857,France,FRA,1989,Europe & Central Asia,High income,98.97622,61.22350,0.964734,93.26832,NaN,...,8.326255,40.579350,797.3737,NaN,NaN,7.687637,0.100857,7.793219,NaN,0.314460
3858,France,FRA,1990,Europe & Central Asia,High income,98.93982,60.28618,1.043667,97.39895,NaN,...,9.959092,34.340740,760.7018,49.421580,23.408500,7.661638,0.144503,7.744136,NaN,0.317903
3859,France,FRA,1991,Europe & Central Asia,High income,98.88328,59.00401,1.134871,100.49060,NaN,...,9.546528,37.346780,1432.7350,57.980940,24.064460,9.027573,0.356660,9.110385,NaN,0.363948
4147,Germany,DEU,1989,Europe & Central Asia,High income,99.01758,55.66330,0.975367,98.30639,NaN,...,24.166130,115.911800,518.0868,NaN,NaN,4.034347,0.088328,3.659463,NaN,0.269205
4148,Germany,DEU,1990,Europe & Central Asia,High income,99.09731,56.85905,0.910474,99.95159,NaN,...,26.872970,138.452500,519.9348,NaN,NaN,3.827788,0.014561,3.466465,NaN,0.276269
4149,Germany,DEU,1991,Europe & Central Asia,High income,99.16718,71.96799,1.066742,127.02120,NaN,...,32.816100,99.205360,831.1056,NaN,NaN,3.852326,0.228372,3.840486,NaN,0.259040
4321,Greece,GRC,1989,Europe & Central Asia,High income,76.27239,58.52026,18.893750,60.73396,NaN,...,1.321034,11.124740,1179.4440,NaN,NaN,NaN,0.554510,4.006617,NaN,1.751947
4322,Greece,GRC,1990,Europe & Central Asia,High income,76.50498,58.42415,18.804000,61.23001,NaN,...,4.522123,37.246270,1422.0160,4.551912,36.994630,NaN,0.231890,4.488662,NaN,1.856144
4323,Greece,GRC,1991,Europe & Central Asia,High income,75.67201,52.46448,17.944310,55.81563,NaN,...,5.654936,18.556320,1540.7080,4.035901,42.704730,6.291176,0.358559,6.863019,NaN,2.066705
5481,Italy,ITA,1989,Europe & Central Asia,High income,85.00886,58.85455,11.128790,63.10697,NaN,...,3.890424,26.190440,382.9066,NaN,NaN,3.901382,0.079192,4.003034,NaN,0.548882
5482,Italy,ITA,1990,Europe & Central Asia,High income,86.54002,58.05416,10.041780,64.56289,NaN,...,3.863760,24.624570,387.8754,25.780650,76.698010,3.983159,0.105578,4.093003,NaN,0.431020
5483,Italy,ITA,1991,Europe & Central Asia,High income,88.22427,58.38298,9.155067,68.59018,NaN,...,2.616391,16.433080,466.8902,27.603160,79.557370,4.778836,0.030191,4.893530,NaN,0.297795
5597,Japan,JPN,1989,East Asia & Pacific,High income,98.64040,179.85830,3.048589,221.17880,18.924730,...,81.664870,66.870220,1297.1510,NaN,NaN,8.555346,0.638021,8.628917,NaN,NaN
5598,Japan,JPN,1990,East Asia & Pacific,High income,98.29795,181.55050,3.839483,221.74000,20.642730,...,64.769620,43.807810,1317.0140,38.478490,43.543570,9.981510,0.358431,10.127620,NaN,NaN
5599,Japan,JPN,1991,East Asia & Pacific,High income,98.29365,181.39380,3.845336,221.50920,22.304620,...,37.745330,33.362240,1324.2310,40.864470,44.581360,9.964443,0.257001,10.056690,NaN,0.014176
7279,Mexico,MEX,1989,Latin America & Caribbean,Upper middle income,81.05311,11.41694,6.162433,26.36234,NaN,...,4.568698,67.232160,429.7737,NaN,NaN,0.815932,0.014002,0.894758,NaN,1.261514
7280,Mexico,MEX,1990,Latin America & Caribbean,Upper middle income,82.72646,16.07314,5.420338,25.95910,NaN,...,5.815450,57.645920,464.6002,1.335122,18.330110,13.720920,0.104496,15.412230,NaN,1.185821
7281,Mexico,MEX,1991,Latin America & Caribbean,Upper middle income,86.91287,20.25732,4.009177,26.62533,NaN,...,7.699890,46.204810,242.0695,1.570756,16.710080,12.530090,0.146898,13.612000,NaN,0.967610
7975,Netherlands,NLD,1989,Europe & Central Asia,High income,98.68041,70.98817,1.241573,92.84586,9.219565,...,14.839380,38.453620,1690.3600,NaN,NaN,9.782019,0.226449,9.743873,NaN,0.297578
7976,Netherlands,NLD,1990,Europe & Central Asia,High income,98.54934,73.14179,1.360442,92.42065,9.183146,...,15.869330,29.015700,1738.9550,21.773690,40.178310,10.739800,0.243458,10.717790,NaN,0.222706
7977,Netherlands,NLD,1991,Europe & Central Asia,High income,98.57594,73.24409,1.334414,92.36985,9.313321,...,13.023100,29.803590,1353.7010,22.969060,42.124960,12.947390,0.526106,12.988690,NaN,0.205313
8091,New Zealand,NZL,1989,East Asia & Pacific,High income,94.33405,66.15896,4.916746,81.86046,NaN,...,2.232830,7.220077,7486.6630,NaN,NaN,32.984790,0.450817,33.893270,NaN,1.331883
8092,New Zealand,NZL,1990,East Asia & Pacific,High income,94.87366,68.58395,4.453458,82.42062,NaN,...,3.171593,16.912010,5135.4430,NaN,27.674380,36.016850,-0.657213,36.487420,NaN,1.674570
8093,New Zealand,NZL,1991,East Asia & Pacific,High income,95.69408,70.43171,3.785320,84.12457,NaN,...,5.283045,23.958120,3976.9960,NaN,29.807050,34.795860,-2.442372,34.934810,NaN,1.523267
8381,Norway,NOR,1989,Europe & Central Asia,High income,96.08575,56.02411,3.095715,75.99257,20.676060,...,8.552012,64.667880,2886.2750,NaN,NaN,20.136000,0.242610,20.384120,NaN,0.136735
8382,Norway,NOR,1990,Europe & Central Asia,High income,96.69410,56.58473,2.575774,75.33875,20.780000,...,12.275790,54.462220,2640.5920,31.412980,18.283830,16.365950,-0.237078,16.593810,NaN,0.131748
8383,Norway,NOR,1991,Europe & Central Asia,High income,98.05709,55.91776,1.393896,70.34879,21.073730,...,11.127310,53.017020,2416.8580,30.644760,16.699530,16.038200,-0.022154,16.161160,NaN,0.142962
8961,Portugal,PRT,1989,Europe & Central Asia,High income,83.31463,73.98507,11.785150,58.84650,NaN,...,2.418015,22.367920,1519.2400,NaN,NaN,6.927289,-0.165016,7.244218,NaN,6.115180
8962,Portugal,PRT,1990,Europe & Central Asia,High income,85.54792,70.30075,9.671059,57.24702,NaN,...,2.470533,15.752350,1522.5550,6.238550,34.351060,4.458327,-0.965427,4.677242,NaN,5.689627
8963,Portugal,PRT,1991,Europe & Central Asia,High income,92.29741,71.13634,5.424597,65.00101,NaN,...,2.515117,29.825760,1536.1080,7.186781,37.771580,3.355354,0.175925,3.457998,NaN,5.286379
10179,Spain,ESP,1989,Europe & Central Asia,High income,93.81267,62.93467,6.249378,94.75340,NaN,...,7.890981,37.289190,2230.3630,NaN,NaN,2.845458,0.111452,2.928217,NaN,0.449944
10180,Spain,ESP,1990,Europe & Central Asia,High income,95.18151,64.04727,4.918511,97.15720,NaN,...,8.564810,35.313130,2331.0070,12.452930,26.844110,3.405815,0.204260,3.499151,NaN,0.408433
10181,Spain,ESP,1991,Europe & Central Asia,High income,95.40279,66.58377,4.665046,96.81069,NaN,...,8.065046,37.482950,3133.4710,14.969460,26.082360,3.742971,0.218729,3.830795,NaN,0.371141
10585,Sweden,SWE,1989,Europe & Central Asia,High income,89.46253,47.34283,7.127595,60.51294,44.752780,...,8.375189,16.791410,1589.5510,NaN,NaN,21.541260,1.415517,22.061610,NaN,0.059162
10586,Sweden,SWE,1990,Europe & Central Asia,High income,92.37135,46.27647,5.206326,63.04071,58.356850,...,7.032474,13.674470,1413.7440,51.172150,26.752710,20.941760,0.049527,21.551360,NaN,0.059009
10587,Sweden,SWE,1991,Europe & Central Asia,High income,90.77901,43.94925,6.094563,59.99992,71.915150,...,6.742796,21.479190,1357.7220,54.821380,35.322020,20.238470,-0.628083,20.536830,NaN,0.076458
11745,United Kingdom,GBR,1989,Europe & Central Asia,High income,NaN,76.70825,NaN,92.97198,NaN,...,31.824100,43.161710,3425.2150,NaN,NaN,6.125050,0.395734,6.275321,NaN,0.181748
11746,United Kingdom,GBR,1990,Europe & Central Asia,High income,NaN,81.57386,NaN,100.56660,NaN,...,30.064350,34.711260,3399.2700,12.830180,24.653000,7.611326,0.363164,7.879749,NaN,0.192016
11747,United Kingdom,GBR,1991,Europe & Central Asia,High income,NaN,81.89435,NaN,101.55840,NaN,...,27.958840,36.255800,3529.8280,13.739180,24.367520,10.013940,0.318342,10.269630,NaN,0.182807
11803,United States,USA,1989,North America,High income,93.87352,71.64529,4.094621,62.74022,75.114780,...,38.318980,75.718580,2684.9630,NaN,NaN,2.719679,-0.018435,2.774382,NaN,0.018080
11804,United States,USA,1990,North America,High income,93.96764,70.51798,3.884412,60.50854,79.425960,...,36.982150,62.283530,2575.4840,68.188800,52.145760,2.624389,0.038688,2.695608,NaN,0.019620
11805,United States,USA,1991,North America,High income,93.46667,69.48895,4.069265,58.21538,85.424920,...,33.953120,58.974750,2574.5020,70.425580,55.929970,2.625071,-0.037657,2.665176,NaN,0.021110

In [43]:
stock_avg = (
    stock_df
    .groupby('country', as_index=False)
    .mean(numeric_only=True)
)

In [44]:
stock_avg = stock_avg[['country','stmktcap', 'stvaltraded', 'llgdp', 'pcrdbofgdp']]
stock_avg

           country    stmktcap  stvaltraded       llgdp  pcrdbofgdp
0        Australia   42.812357    13.914340   49.328823   54.746597
1          Austria   14.557643    18.606600   82.969203   84.562127
2          Belgium   36.275593     4.142271   44.893313   33.717280
3           Canada   85.556283    13.229240   70.843760   86.170687
4          Denmark   29.966610     8.755923   55.480680   47.518983
5          Finland   20.109013     4.337977   53.874213   80.978377
6           France   26.900317     9.277292   60.171230   87.092050
7          Germany   22.478490    27.951733   61.496780   86.364397
8           Greece    9.802831     3.832698   56.469630   28.613423
9            Italy   14.322540     3.456858   58.430563   50.015873
10           Japan  108.728517    61.393273  180.934200  164.211033
11          Mexico   14.428010     6.028013   15.915800   13.604487
12     Netherlands   46.701507    14.577270   72.458017   71.536290
13     New Zealand   27.071080     3.562489   68.391540   73.763837
14          Norway   20.626590    10.651704   56.175533   76.628360
15        Portugal   12.845623     2.467888   71.807387   43.411270
16           Spain   23.972027     8.173612   64.521903   72.803577
17          Sweden   43.191820     7.383486   45.856183  109.685140
18  United Kingdom   80.032653    29.949097   80.058820   98.365660
19   United States   56.149943    36.418083   70.550740  113.402933

In [45]:
stock_df_2 = pd.read_excel('FinancialStructureDatabase.xlsx', sheet_name = "cleaned")
stock_df_2 = stock_df_2[stock_df_2['country'].isin(countries)]
stock_df_2

,country,cncode,year,region,incomegr,dbacba,llgdp,cbagdp,dbagdp,ofagdp,...,stvaltraded,stturnover,listco_pc,prbond,pubond,intldebt,intldebtnet,nrbloan,offdep,remit
522,Australia,AUS,1960,East Asia & Pacific,High income,83.07536,42.38745,6.827211,33.51168,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
523,Australia,AUS,1961,East Asia & Pacific,High income,84.69322,43.56009,6.254304,34.60540,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,Australia,AUS,1962,East Asia & Pacific,High income,86.41574,43.50461,5.464250,34.76062,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525,Australia,AUS,1963,East Asia & Pacific,High income,88.70193,43.51524,4.502865,35.35231,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,Australia,AUS,1964,East Asia & Pacific,High income,90.72701,44.13616,3.727922,36.47399,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11827,United States,USA,2013,North America,High income,75.58759,72.75591,18.874270,58.43993,154.5848,...,196.7740,154.7587,1322.543,NaN,NaN,17.87238,0.228218,17.77834,12.153590,0.039399
11828,United States,USA,2014,North America,High income,71.85853,73.24656,22.880750,58.42540,158.7788,...,208.5104,152.9651,1372.232,NaN,NaN,17.59315,0.232888,17.35997,10.107080,0.037114
11829,United States,USA,2015,North America,High income,71.81490,73.49581,23.262580,59.27243,155.5737,...,221.8178,160.1566,1365.892,NaN,NaN,17.66472,0.074482,17.53617,8.287304,0.036105
11830,United States,USA,2016,North America,High income,73.21300,74.97203,22.615920,61.81279,155.0102,...,224.0610,159.8839,1340.571,NaN,NaN,17.77479,0.154294,17.80863,8.018504,0.034564
11831,United States,USA,2017,North America,High income,74.17124,75.27348,21.746480,62.44835,160.0327,...,211.1149,133.2689,1333.550,NaN,NaN,18.68041,0.227827,18.69905,9.498503,0.032337

In [46]:
stock_df_2 = stock_df_2[['country','concentration', 'netintmargin']]
stock_df_2

             country  concentration  netintmargin
522        Australia            NaN           NaN
523        Australia            NaN           NaN
524        Australia            NaN           NaN
525        Australia            NaN           NaN
526        Australia            NaN           NaN
...              ...            ...           ...
11827  United States       35.00354      3.427650
11828  United States       36.13513      3.461176
11829  United States       34.82014      3.335331
11830  United States       35.11972      3.326404
11831  United States       34.84361      3.420695

[1160 rows x 3 columns]

In [47]:
stock_avg_2 = (
    stock_df_2
    .groupby('country', as_index=False)
    .mean(numeric_only=True)
)
stock_avg_2

           country  concentration  netintmargin
0        Australia      69.252702      1.953893
1          Austria      75.963210      1.889646
2          Belgium      74.428318      1.341341
3           Canada      63.535232      2.001673
4          Denmark      82.209169      1.335208
5          Finland      93.655040      1.059475
6           France      58.298878      0.955294
7          Germany      69.309722      1.074524
8           Greece      72.971273      2.598392
9            Italy      58.115772      1.928355
10           Japan      39.355071      1.148340
11          Mexico      58.345316      6.340357
12     Netherlands      82.025541      1.141489
13     New Zealand      75.013145      1.997703
14          Norway      91.837824      1.805262
15        Portugal      79.246452      1.652185
16           Spain      68.878797      1.829972
17          Sweden      94.210712      1.448935
18  United Kingdom      52.146097      1.496118
19   United States      29.760864      3.617119

In [48]:
stock_ind = stock_avg.merge(stock_avg_2, how = 'left')
stock_ind

,country,stmktcap,stvaltraded,llgdp,pcrdbofgdp,concentration,netintmargin
0,Australia,42.812357,13.914340,49.328823,54.746597,69.252702,1.953893
1,Austria,14.557643,18.606600,82.969203,84.562127,75.963210,1.889646
2,Belgium,36.275593,4.142271,44.893313,33.717280,74.428318,1.341341
3,Canada,85.556283,13.229240,70.843760,86.170687,63.535232,2.001673
4,Denmark,29.966610,8.755923,55.480680,47.518983,82.209169,1.335208
5,Finland,20.109013,4.337977,53.874213,80.978377,93.655040,1.059475
6,France,26.900317,9.277292,60.171230,87.092050,58.298878,0.955294
7,Germany,22.478490,27.951733,61.496780,86.364397,69.309722,1.074524
8,Greece,9.802831,3.832698,56.469630,28.613423,72.971273,2.598392
9,Italy,14.322540,3.456858,58.430563,50.015873,58.115772,1.928355
10,Japan,108.728517,61.393273,180.934200,164.211033,39.355071,1.148340
11,Mexico,14.428010,6.028013,15.915800,13.604487,58.345316,6.340357
12,Netherlands,46.701507,14.577270,72.458017,71.536290,82.025541,1.141489
13,New Zealand,27.071080,3.562489,68.391540,73.763837,75.013145,1.997703
14,Norway,20.626590,10.651704,56.175533,76.628360,91.837824,1.805262
15,Portugal,12.845623,2.467888,71.807387,43.411270,79.246452,1.652185
16,Spain,23.972027,8.173612,64.521903,72.803577,68.878797,1.829972
17,Sweden,43.191820,7.383486,45.856183,109.685140,94.210712,1.448935
18,United Kingdom,80.032653,29.949097,80.058820,98.365660,52.146097,1.496118
19,United States,56.149943,36.418083,70.550740,113.402933,29.760864,3.617119

# Extension (crowding out)

In [49]:
gov_fin_df = pd.read_excel('govt_borrow.xlsx')
gov_fin_df = gov_fin_df.iloc[:-2]
gov_fin_df
gov_fin_df = gov_fin_df.rename(columns={
    gov_fin_df.columns[0]: 'country'
})
gov_long = gov_fin_df.melt(
    id_vars='country',          # stays fixed
    var_name='year',            # new column name
    value_name='debt_pct_gdp'   # values column
)
gov_long
gov_long = gov_long.replace("no data", None)
gov_long['debt_pct_gdp'] = pd.to_numeric(gov_long['debt_pct_gdp'], errors='coerce')

gov_long

            country  year  debt_pct_gdp
0           Albania  1950           NaN
1         Australia  1950           NaN
2           Austria  1950           NaN
3           Belarus  1950           NaN
4           Belgium  1950           NaN
...             ...   ...           ...
6595  United States  2024    120.785680
6596     Uzbekistan  2024     32.649939
6597      Venezuela  2024    164.272190
6598        Vietnam  2024     32.860139
6599          Yemen  2024     70.940258

[6600 rows x 3 columns]

In [50]:
gov_long = gov_long[gov_long['country'].isin(countries)]
gov_long = gov_long[gov_long['year'].isin([1989, 1990, 1991])]
gov_long = gov_long[['country', 'debt_pct_gdp']]
gov_long = gov_long.groupby('country').mean('debt_pct_gdp').reset_index()
gov_long

           country  debt_pct_gdp
0        Australia     18.343437
1          Austria     56.441457
2          Belgium    129.503603
3           Canada     75.463067
4          Denmark     69.321148
5          Finland     16.671445
6           France     36.696338
7          Germany     39.805053
8           Greece     70.195844
9            Italy     95.241272
10           Japan     63.763908
11     Netherlands     74.524892
12          Norway     33.507988
13        Portugal     60.148913
14           Spain     41.012561
15          Sweden     42.915598
16  United Kingdom     29.473437
17   United States     63.054769

In [51]:
saving_df = pd.read_csv('gross_savings.csv')
saving_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,21.689369,21.621035,21.108362,20.394497,18.097092,8.379430,15.366923,20.787283,29.843944,34.500542
1,Africa Eastern and Southern,AFE,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.527765,18.485861,18.994499,19.435353,19.788143,18.955382,21.071467,20.240101,17.851819,16.905507
2,Afghanistan,AFG,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-14.412567,-9.740707,-19.456991,-19.285519,NaN
3,Africa Western and Central,AFW,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,26.427092,32.437058,34.433071,37.775559,38.281612,28.451384,33.357921,29.314319,23.926753,22.535818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.314830,6.157981,8.940202,8.086372,7.430006,1.188419,4.131115,2.471917,3.274729,3.672178
262,"Yemen, Rep.",YEM,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,-10.608172,-20.033892,-21.521124,-32.388907,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,31.573052,32.579666,32.410842,33.793370,32.470726,33.294055,...,17.333805,17.411369,17.754952,16.679112,16.327056,16.737709,19.054059,17.803855,16.625968,16.170841
264,Zambia,ZMB,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.624566,39.433022,46.332735,42.393459,40.138394,48.002160,52.471996,49.966308,39.582107,39.290420
265,Zimbabwe,ZWE,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,11.825701,14.163752,13.800419,12.033574,10.168633,13.652441,...,-8.393727,-1.470141,8.989887,11.925871,43.132585,39.748486,38.300172,36.420271,3.965937,3.457354

In [52]:
saving_long = saving_df.melt(
    id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
    var_name='year',
    value_name='savings (% of GDP)'
)
saving_long
saving_long['year'] = pd.to_numeric(saving_long['year'], errors='coerce')
saving_long = saving_long.rename(columns={
    saving_long.columns[0]: 'country'
})

saving_long

,country,Country Code,Indicator Name,Indicator Code,year,savings (% of GDP)
0,Aruba,ABW,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,1960,NaN
1,Africa Eastern and Southern,AFE,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,1960,NaN
2,Afghanistan,AFG,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,1960,NaN
3,Africa Western and Central,AFW,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,1960,NaN
4,Angola,AGO,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,1960,NaN
...,...,...,...,...,...,...
17285,Kosovo,XKX,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,2024,3.672178
17286,"Yemen, Rep.",YEM,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,2024,NaN
17287,South Africa,ZAF,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,2024,16.170841
17288,Zambia,ZMB,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,2024,39.290420
17289,Zimbabwe,ZWE,Gross domestic savings (% of GDP),NY.GDS.TOTL.ZS,2024,3.457354

In [53]:
saving_long['country'].unique()

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives',
       'Middle East, North Africa, Afghanistan & Pakistan', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East, North Africa, Afghanistan & Pakistan (excluding high income)',
       'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique',
       'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'North America',
       'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand',
       'OECD members', 'Oman', 'Other small states', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland',
       'Pre-demographic dividend', 'Puerto Rico (US)',
       "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia, Fed. Rep.',
       'Serbia', 'Sub-Saharan Africa (excluding high income)',
       'South Sudan', 'Sub-Saharan Africa', 'Small states',
       'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia',
       'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles',
       'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste',
       'Middle East, North Africa, Afghanistan & Pakistan (IDA & IBRD)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Viet Nam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [54]:
saving_long['year']

0        1960
1        1960
2        1960
3        1960
4        1960
         ...
17285    2024
17286    2024
17287    2024
17288    2024
17289    2024
Name: year, Length: 17290, dtype: int64

In [55]:
saving_long = saving_long[saving_long['country'].isin(countries)]
saving_long = saving_long[saving_long['year'].isin([1989, 1990, 1991])]
saving_long = saving_long[['country', 'savings (% of GDP)']]
saving_long = saving_long.groupby('country').mean('savings (% of GDP)').reset_index()
saving_long

           country  savings (% of GDP)
0        Australia           26.816831
1          Austria           26.391596
2          Belgium           25.089465
3           Canada           21.338621
4          Denmark           25.764425
5          Finland           27.437557
6           France           23.707280
7          Germany           24.851373
8           Greece           15.902408
9            Italy           22.863943
10           Japan           36.363000
11          Mexico           21.339760
12     Netherlands           29.142532
13     New Zealand           22.021271
14          Norway           30.535635
15        Portugal           20.649751
16           Spain           22.181131
17          Sweden           26.523569
18  United Kingdom           14.565015
19   United States           20.281955

In [56]:
crowdout_df = saving_long.merge(gov_long, how = 'left')
crowdout_df['govsav'] = crowdout_df['debt_pct_gdp']/crowdout_df['savings (% of GDP)']
crowdout_df

           country  savings (% of GDP)  debt_pct_gdp    govsav
0        Australia           26.816831     18.343437  0.684027
1          Austria           26.391596     56.441457  2.138615
2          Belgium           25.089465    129.503603  5.161673
3           Canada           21.338621     75.463067  3.536455
4          Denmark           25.764425     69.321148  2.690576
5          Finland           27.437557     16.671445  0.607614
6           France           23.707280     36.696338  1.547893
7          Germany           24.851373     39.805053  1.601725
8           Greece           15.902408     70.195844  4.414165
9            Italy           22.863943     95.241272  4.165566
10           Japan           36.363000     63.763908  1.753538
11          Mexico           21.339760           NaN       NaN
12     Netherlands           29.142532     74.524892  2.557255
13     New Zealand           22.021271           NaN       NaN
14          Norway           30.535635     33.507988  1.097340
15        Portugal           20.649751     60.148913  2.912815
16           Spain           22.181131     41.012561  1.848984
17          Sweden           26.523569     42.915598  1.618017
18  United Kingdom           14.565015     29.473437  2.023578
19   United States           20.281955     63.054769  3.108910

# Accounting Standards 1990 (Country)

In [57]:
acct_df = pd.read_csv('acstan.csv')
acct_df

           Country  Accounting standards
0       Bangladesh                   NaN
1            Kenya                   NaN
2          Morocco                   NaN
3        Sri Lanka                   NaN
4         Pakistan                   NaN
5       Costa Rica                   NaN
6         Zimbabwe                   NaN
7           Jordan                   NaN
8            Egypt                  24.0
9         Portugal                  36.0
10            Peru                  38.0
11       Venezuela                  40.0
12        Colombia                  50.0
13          Turkey                  51.0
14           Chile                  52.0
15          Brazil                  54.0
16         Austria                  54.0
17          Greece                  55.0
18           India                  57.0
19          Mexico                  60.0
20         Belgium                  61.0
21         Denmark                  62.0
22         Germany                  62.0
23           Italy                  62.0
24           Korea                  62.0
25     Netherlands                  64.0
26           Spain                  64.0
27          Israel                  64.0
28     Philippines                  65.0
29           Japan                  65.0
30          France                  69.0
31     New Zealand                  70.0
32    South Africa                  70.0
33          Norway                  74.0
34          Canada                  74.0
35       Australia                  75.0
36        Malaysia                  76.0
37         Finland                  77.0
38  United Kingdom                  78.0
39       Singapore                  78.0
40          Sweden                  83.0
41   United States                  59.0

In [58]:
len(acct_df.dropna())

34

In [59]:
acct_df.dropna()['Accounting standards'].sum()

2085.0

In [60]:
#calculate us accounting
61.324*34-2026

59.016000000000076

In [61]:
acct_df

           Country  Accounting standards
0       Bangladesh                   NaN
1            Kenya                   NaN
2          Morocco                   NaN
3        Sri Lanka                   NaN
4         Pakistan                   NaN
5       Costa Rica                   NaN
6         Zimbabwe                   NaN
7           Jordan                   NaN
8            Egypt                  24.0
9         Portugal                  36.0
10            Peru                  38.0
11       Venezuela                  40.0
12        Colombia                  50.0
13          Turkey                  51.0
14           Chile                  52.0
15          Brazil                  54.0
16         Austria                  54.0
17          Greece                  55.0
18           India                  57.0
19          Mexico                  60.0
20         Belgium                  61.0
21         Denmark                  62.0
22         Germany                  62.0
23           Italy                  62.0
24           Korea                  62.0
25     Netherlands                  64.0
26           Spain                  64.0
27          Israel                  64.0
28     Philippines                  65.0
29           Japan                  65.0
30          France                  69.0
31     New Zealand                  70.0
32    South Africa                  70.0
33          Norway                  74.0
34          Canada                  74.0
35       Australia                  75.0
36        Malaysia                  76.0
37         Finland                  77.0
38  United Kingdom                  78.0
39       Singapore                  78.0
40          Sweden                  83.0
41   United States                  59.0

In [62]:
acct_df = acct_df[['Country', 'Accounting standards']]
acct_df

           Country  Accounting standards
0       Bangladesh                   NaN
1            Kenya                   NaN
2          Morocco                   NaN
3        Sri Lanka                   NaN
4         Pakistan                   NaN
5       Costa Rica                   NaN
6         Zimbabwe                   NaN
7           Jordan                   NaN
8            Egypt                  24.0
9         Portugal                  36.0
10            Peru                  38.0
11       Venezuela                  40.0
12        Colombia                  50.0
13          Turkey                  51.0
14           Chile                  52.0
15          Brazil                  54.0
16         Austria                  54.0
17          Greece                  55.0
18           India                  57.0
19          Mexico                  60.0
20         Belgium                  61.0
21         Denmark                  62.0
22         Germany                  62.0
23           Italy                  62.0
24           Korea                  62.0
25     Netherlands                  64.0
26           Spain                  64.0
27          Israel                  64.0
28     Philippines                  65.0
29           Japan                  65.0
30          France                  69.0
31     New Zealand                  70.0
32    South Africa                  70.0
33          Norway                  74.0
34          Canada                  74.0
35       Australia                  75.0
36        Malaysia                  76.0
37         Finland                  77.0
38  United Kingdom                  78.0
39       Singapore                  78.0
40          Sweden                  83.0
41   United States                  59.0

In [63]:
acct_int = acct_df[acct_df['Country'].isin(countries)]
acct_int = acct_int.rename(columns={"Country": "country"})

acct_int

           country  Accounting standards
9         Portugal                  36.0
16         Austria                  54.0
17          Greece                  55.0
19          Mexico                  60.0
20         Belgium                  61.0
21         Denmark                  62.0
22         Germany                  62.0
23           Italy                  62.0
25     Netherlands                  64.0
26           Spain                  64.0
29           Japan                  65.0
30          France                  69.0
31     New Zealand                  70.0
33          Norway                  74.0
34          Canada                  74.0
35       Australia                  75.0
37         Finland                  77.0
38  United Kingdom                  78.0
40          Sweden                  83.0
41   United States                  59.0

# Shareholder rights (country)

In [64]:
shareholder_df = pd.read_csv('shareholder.csv')
shareholder_df

,country,one_share_one_vote,proxy_by_mail,shares_not_blocked,cumulative_voting,oppressed_minority,preemptive_rights,pct_capital_call_esm,anti_director_rights,mandatory_dividend
0,Australia,0,1,1,0,1,0,0.05,4,0.00
1,Canada,0,1,1,1,1,0,0.05,5,0.00
2,Hong Kong,0,1,1,0,1,1,0.10,5,0.00
3,India,0,0,1,1,1,1,0.10,5,0.00
4,Ireland,0,0,1,0,1,1,0.10,4,0.00
5,Israel,0,0,1,0,1,0,0.10,3,0.00
6,Kenya,0,0,1,0,1,0,0.10,3,0.00
7,Malaysia,1,0,1,0,1,1,0.10,4,0.00
8,New Zealand,0,1,1,0,1,0,0.05,4,0.00
9,Nigeria,0,0,1,0,1,0,0.10,3,0.00
10,Pakistan,1,0,1,1,1,1,0.10,5,0.00
11,Singapore,1,0,1,0,1,1,0.10,4,0.00
12,South Africa,0,1,1,0,1,1,0.05,5,0.00
13,Sri Lanka,0,0,1,0,1,0,0.10,3,0.00
14,Thailand,0,0,1,1,0,0,0.20,2,0.00
15,UK,0,1,1,0,1,1,0.10,5,0.00
16,US,0,1,1,1,1,0,0.10,5,0.00
17,Zimbabwe,0,0,1,0,1,0,0.05,3,0.00
18,Argentina,0,0,0,1,1,1,0.05,4,0.00
19,Belgium,0,0,0,0,0,0,0.20,0,0.00
20,Brazil,1,0,1,0,1,0,0.05,3,0.50
21,Chile,1,0,1,1,1,1,0.10,5,0.30
22,Colombia,0,0,1,1,0,1,0.25,3,0.50
23,Ecuador,0,0,1,0,0,1,0.25,2,0.50
24,Egypt,0,0,1,0,0,0,0.10,2,0.00
25,France,0,1,0,0,0,1,0.10,3,0.00
26,Greece,1,0,0,0,0,0,0.05,2,0.35
27,Indonesia,0,0,1,0,0,0,0.10,2,0.00
28,Italy,0,0,0,0,0,1,0.20,1,0.00
29,Jordan,1,0,1,0,0,0,0.25,1,0.00
30,Mexico,0,0,0,0,0,1,0.33,1,0.00
31,Netherlands,0,0,0,0,0,1,0.10,2,0.00
32,Peru,1,0,1,1,0,1,0.20,3,0.00
33,Philippines,0,0,1,1,1,0,NaN,3,0.00
34,Portugal,0,0,1,0,0,1,0.05,3,0.00
35,Spain,0,0,0,1,1,1,0.05,4,0.00
36,Turkey,0,0,1,0,0,0,0.10,2,0.00
37,Uruguay,1,0,0,0,1,1,0.20,2,0.20
38,Venezuela,0,0,1,0,0,0,0.20,1,0.00
39,Austria,0,0,0,0,0,1,0.05,2,0.00
40,Germany,0,0,0,0,0,0,0.05,1,0.00
41,Japan,1,0,1,1,1,0,0.03,4,0.00
42,South Korea,1,0,0,0,1,0,0.05,2,0.00
43,Switzerland,0,0,0,0,0,1,0.10,2,0.00
44,Taiwan,0,0,0,1,1,0,0.03,3,0.00
45,Denmark,0,0,1,0,0,0,0.10,2,0.00
46,Finland,0,0,1,0,0,1,0.10,3,0.00
47,Norway,0,1,1,0,0,1,0.10,4,0.00
48,Sweden,0,0,1,0,0,1,0.10,3,0.00

In [65]:
shareholder_int = shareholder_df[shareholder_df['country'].isin(countries)]
shareholder_int = shareholder_int.rename(columns={"anti_director_rights": "minority"})
shareholder_int = shareholder_int[['country', 'minority']]
shareholder_int

        country  minority
0     Australia         4
1        Canada         5
8   New Zealand         4
15           UK         5
16           US         5
19      Belgium         0
25       France         3
26       Greece         2
28        Italy         1
30       Mexico         1
31  Netherlands         2
34     Portugal         3
35        Spain         4
39      Austria         2
40      Germany         1
41        Japan         4
45      Denmark         2
46      Finland         3
47       Norway         4
48       Sweden         3

# Creditor (country)

In [66]:
creditor_df = pd.read_csv('creditor.csv')
creditor_df

,country,no_auto_stay,secured_creditors_first,reorg_restrictions,mgmt_does_not_stay,creditor_rights_score,legal_reserve_pct
0,Australia,0.0,1.0,0.0,0.0,1.0,0.00
1,Canada,0.0,1.0,0.0,0.0,1.0,0.00
2,Hongkong,1.0,1.0,1.0,1.0,4.0,0.00
3,India,1.0,1.0,1.0,1.0,4.0,0.00
4,Ireland,0.0,1.0,0.0,0.0,1.0,0.00
5,Israel,1.0,1.0,1.0,1.0,4.0,0.00
6,Kenya,1.0,1.0,1.0,1.0,4.0,0.00
7,Malaysia,1.0,1.0,1.0,1.0,4.0,0.00
8,New Zealand,1.0,0.0,1.0,1.0,3.0,0.00
9,Nigeria,1.0,1.0,1.0,1.0,4.0,0.00
10,Pakistan,1.0,1.0,1.0,1.0,4.0,0.00
11,Singapore,1.0,1.0,1.0,1.0,4.0,0.00
12,South Africa,0.0,1.0,1.0,1.0,3.0,0.00
13,Sri Lanka,1.0,0.0,1.0,1.0,3.0,0.00
14,Thailand,1.0,1.0,0.0,1.0,3.0,0.10
15,UK,1.0,1.0,1.0,1.0,4.0,0.00
16,US,0.0,1.0,0.0,0.0,1.0,0.00
17,Zimbabwe,1.0,1.0,1.0,1.0,4.0,0.00
18,Argentina,0.0,1.0,0.0,0.0,1.0,0.20
19,Belgium,1.0,1.0,0.0,0.0,2.0,0.10
20,Brazil,0.0,0.0,1.0,0.0,1.0,0.20
21,Chile,0.0,1.0,1.0,0.0,2.0,0.20
22,Colombia,0.0,0.0,0.0,0.0,0.0,0.50
23,Ecuador,1.0,1.0,1.0,1.0,4.0,0.50
24,Egypt,1.0,1.0,1.0,1.0,4.0,0.50
25,France,0.0,0.0,0.0,0.0,0.0,0.10
26,Greece,0.0,0.0,0.0,1.0,1.0,0.33
27,Indonesia,1.0,1.0,1.0,1.0,4.0,0.00
28,Italy,0.0,1.0,1.0,0.0,2.0,0.20
29,Jordan,NaN,NaN,NaN,NaN,NaN,0.25
30,Mexico,0.0,0.0,0.0,0.0,0.0,0.20
31,Netherlands,0.0,1.0,1.0,0.0,2.0,0.00
32,Peru,0.0,0.0,0.0,0.0,0.0,0.20
33,Philippines,0.0,0.0,0.0,0.0,0.0,0.00
34,Portugal,0.0,1.0,0.0,0.0,1.0,0.20
35,Spain,1.0,1.0,0.0,0.0,2.0,0.20
36,Turkey,0.0,1.0,1.0,0.0,2.0,0.20
37,Uruguay,0.0,1.0,0.0,1.0,2.0,0.20
38,Venezuela,NaN,1.0,NaN,NaN,NaN,0.10
39,Austria,1.0,1.0,1.0,0.0,3.0,0.10
40,Germany,1.0,1.0,1.0,0.0,3.0,0.10
41,Japan,0.0,1.0,0.0,1.0,2.0,0.25
42,South Korea,1.0,1.0,0.0,1.0,3.0,0.50
43,Switzerland,0.0,1.0,0.0,0.0,1.0,0.50
44,Taiwan,1.0,1.0,0.0,0.0,2.0,1.00
45,Denmark,1.0,1.0,1.0,0.0,3.0,0.25
46,Finland,0.0,1.0,0.0,0.0,1.0,0.00
47,Norway,0.0,1.0,1.0,0.0,2.0,0.20
48,Sweden,0.0,1.0,1.0,0.0,2.0,0.20

In [67]:
creditor_int = creditor_df[creditor_df['country'].isin(countries)]
creditor_int = creditor_int.rename(columns={"creditor_rights_score": "creditor"})
creditor_int = creditor_int[['country', 'creditor']]
creditor_int

        country  creditor
0     Australia       1.0
1        Canada       1.0
8   New Zealand       3.0
15           UK       4.0
16           US       1.0
19      Belgium       2.0
25       France       0.0
26       Greece       1.0
28        Italy       2.0
30       Mexico       0.0
31  Netherlands       2.0
34     Portugal       1.0
35        Spain       2.0
39      Austria       3.0
40      Germany       3.0
41        Japan       2.0
45      Denmark       3.0
46      Finland       1.0
47       Norway       2.0
48       Sweden       2.0

# Labor Compensation (industry)

In [68]:
comp_df = macro_df[macro_df['Measure'] == 'Compensation of employees']
comp_df = comp_df[comp_df['Reference area'] == "United States"]
comp_df

,REF_AREA,Reference area,ACTIVITY,Economic activity,MEASURE,Measure,TIME_PERIOD,OBS_VALUE
1756,USA,United States,M_N,Professional Goods,D1,Compensation of employees,1989,300263.922576
1757,USA,United States,C28,Non-Electrical Machinery,D1,Compensation of employees,1989,56624.098207
1758,USA,United States,C21,Drugs & Medicines,D1,Compensation of employees,1989,17172.449387
1759,USA,United States,C29_30,Transport Equipment,D1,Compensation of employees,1989,90601.074708
1760,USA,United States,C19,Petroleum Refineries,D1,Compensation of employees,1989,6601.773816
1761,USA,United States,C20,Other chemicals,D1,Compensation of employees,1989,32164.762186
1762,USA,United States,C27,Electrical Machinery,D1,Compensation of employees,1989,24782.750438
1763,USA,United States,C26,Office & Computing,D1,Compensation of employees,1989,78198.815050
1764,USA,United States,M_N,Professional Goods,D1,Compensation of employees,1991,338688.622205
1765,USA,United States,C12,Tobacco,D1,Compensation of employees,1991,2368.452416
1766,USA,United States,C17,Paper & Products,D1,Compensation of employees,1991,27610.130046
1767,USA,United States,B05_06,Petroleum & Coal Products,D1,Compensation of employees,1991,19668.067271
1768,USA,United States,C28,Non-Electrical Machinery,D1,Compensation of employees,1991,57564.521697
1769,USA,United States,C25,Metal Products,D1,Compensation of employees,1991,57391.301721
1770,USA,United States,C21,Drugs & Medicines,D1,Compensation of employees,1991,19288.958999
1771,USA,United States,C301,Shipbuilding & Repairing,D1,Compensation of employees,1991,4639.138116
1772,USA,United States,C241_2431,Iron & Steel,D1,Compensation of employees,1991,21039.379769
1773,USA,United States,C19,Petroleum Refineries,D1,Compensation of employees,1991,7264.825921
1774,USA,United States,C29_30,Transport Equipment,D1,Compensation of employees,1991,91064.182567
1775,USA,United States,C14,Wearing Apparel,D1,Compensation of employees,1991,16907.987209
1776,USA,United States,C23,Non-Metallic Products nec.,D1,Compensation of employees,1991,20066.750790
1777,USA,United States,C16,Wood Products,D1,Compensation of employees,1991,13440.063244
1778,USA,United States,C15,"Leather, Footwear, & Products",D1,Compensation of employees,1991,2112.576588
1779,USA,United States,C22,Rubber & Plastic Products,D1,Compensation of employees,1991,25771.362682
1780,USA,United States,C20,Other chemicals,D1,Compensation of employees,1991,35319.837584
1781,USA,United States,C242_2432,Non-Ferrous Metals,D1,Compensation of employees,1991,11612.607600
1782,USA,United States,C18,Printing & Publishing,D1,Compensation of employees,1991,26522.117119
1783,USA,United States,C27,Electrical Machinery,D1,Compensation of employees,1991,23925.168364
1784,USA,United States,C26,Office & Computing,D1,Compensation of employees,1991,81363.158996
1785,USA,United States,C13,"Textiles, Apparel & Leather",D1,Compensation of employees,1991,17905.600366
1786,USA,United States,C29,Motor Vehicles,D1,Compensation of employees,1991,43296.951768
1787,USA,United States,M_N,Professional Goods,D1,Compensation of employees,1990,330215.612704
1788,USA,United States,C12,Tobacco,D1,Compensation of employees,1990,2250.423959
1789,USA,United States,C17,Paper & Products,D1,Compensation of employees,1990,27026.054848
1790,USA,United States,B05_06,Petroleum & Coal Products,D1,Compensation of employees,1990,20057.248261
1791,USA,United States,C28,Non-Electrical Machinery,D1,Compensation of employees,1990,57471.367614
1792,USA,United States,C25,Metal Products,D1,Compensation of employees,1990,57187.519677
1793,USA,United States,C21,Drugs & Medicines,D1,Compensation of employees,1990,18137.729235
1794,USA,United States,C301,Shipbuilding & Repairing,D1,Compensation of employees,1990,4625.541769
1795,USA,United States,C241_2431,Iron & Steel,D1,Compensation of employees,1990,21756.103625
1796,USA,United States,C19,Petroleum Refineries,D1,Compensation of employees,1990,6951.751113
1797,USA,United States,C29_30,Transport Equipment,D1,Compensation of employees,1990,89243.939683
1798,USA,United States,C14,Wearing Apparel,D1,Compensation of employees,1990,16456.947388
1799,USA,United States,C23,Non-Metallic Products nec.,D1,Compensation of employees,1990,20859.945428
1800,USA,United States,C16,Wood Products,D1,Compensation of employees,1990,13970.028289
1801,USA,United States,C15,"Leather, Footwear, & Products",D1,Compensation of employees,1990,2130.568007
1802,USA,United States,C22,Rubber & Plastic Products,D1,Compensation of employees,1990,25306.622258
1803,USA,United States,C20,Other chemicals,D1,Compensation of employees,1990,33719.413243
1804,USA,United States,C27,Electrical Machinery,D1,Compensation of employees,1990,24753.107103
1805,USA,United States,C26,Office & Computing,D1,Compensation of employees,1990,80188.939367
1806,USA,United States,C13,"Textiles, Apparel & Leather",D1,Compensation of employees,1990,17644.548555
1807,USA,United States,C29,Motor Vehicles,D1,Compensation of employees,1990,40981.840529
1808,USA,United States,C242_2432,Non-Ferrous Metals,D1,Compensation of employees,1990,11824.424795
1809,USA,United States,C18,Printing & Publishing,D1,Compensation of employees,1990,26490.045968

In [69]:
labor_comp_ind = (
    comp_df
    .groupby(['Economic activity', 'Reference area'], as_index=False)['OBS_VALUE']
    .mean(numeric_only=True)
)
labor_comp_ind = labor_comp_ind.rename(columns={'OBS_VALUE': 'Labor Compensation'})
labor_comp_ind

                Economic activity Reference area  Labor Compensation
0               Drugs & Medicines  United States        18199.712540
1            Electrical Machinery  United States        24487.008635
2                    Iron & Steel  United States        21397.741697
3   Leather, Footwear, & Products  United States         2121.572297
4                  Metal Products  United States        57289.410699
5                  Motor Vehicles  United States        42139.396149
6        Non-Electrical Machinery  United States        57219.995840
7              Non-Ferrous Metals  United States        11718.516198
8      Non-Metallic Products nec.  United States        20463.348109
9              Office & Computing  United States        79916.971137
10                Other chemicals  United States        33734.671004
11               Paper & Products  United States        27318.092447
12      Petroleum & Coal Products  United States        19862.657766
13           Petroleum Refineries  United States         6939.450283
14          Printing & Publishing  United States        26506.081543
15             Professional Goods  United States       323056.052495
16      Rubber & Plastic Products  United States        25538.992470
17       Shipbuilding & Repairing  United States         4632.339943
18    Textiles, Apparel & Leather  United States        17775.074460
19                        Tobacco  United States         2309.438187
20            Transport Equipment  United States        90303.065652
21                Wearing Apparel  United States        16682.467299
22                  Wood Products  United States        13705.045767

# Employment (industry)

In [70]:
emp_df = macro_df[macro_df['Measure'] == 'Total employment']
emp_df = emp_df[emp_df['Reference area'] == "United States"]

emp_df

,REF_AREA,Reference area,ACTIVITY,Economic activity,MEASURE,Measure,TIME_PERIOD,OBS_VALUE
3454,USA,United States,C28,Non-Electrical Machinery,EMP,Total employment,1989,2820.222890
3455,USA,United States,M_N,Professional Goods,EMP,Total employment,1989,20449.549465
3456,USA,United States,C19,Petroleum Refineries,EMP,Total employment,1989,299.557662
3457,USA,United States,C26,Office & Computing,EMP,Total employment,1989,3867.268088
3458,USA,United States,C20,Other chemicals,EMP,Total employment,1989,1577.418227
3459,USA,United States,C27,Electrical Machinery,EMP,Total employment,1989,1298.507292
3460,USA,United States,C29_30,Transport Equipment,EMP,Total employment,1989,4372.219097
3461,USA,United States,C21,Drugs & Medicines,EMP,Total employment,1989,350.445192
3462,USA,United States,C15,"Leather, Footwear, & Products",EMP,Total employment,1991,228.680352
3463,USA,United States,C28,Non-Electrical Machinery,EMP,Total employment,1991,2624.931255
3464,USA,United States,M_N,Professional Goods,EMP,Total employment,1991,20684.342463
3465,USA,United States,C12,Tobacco,EMP,Total employment,1991,85.149560
3466,USA,United States,C19,Petroleum Refineries,EMP,Total employment,1991,304.618546
3467,USA,United States,C14,Wearing Apparel,EMP,Total employment,1991,1577.808899
3468,USA,United States,C26,Office & Computing,EMP,Total employment,1991,3477.618049
3469,USA,United States,C20,Other chemicals,EMP,Total employment,1991,1562.223068
3470,USA,United States,C27,Electrical Machinery,EMP,Total employment,1991,1158.843282
3471,USA,United States,C301,Shipbuilding & Repairing,EMP,Total employment,1991,338.011243
3472,USA,United States,C31_32,"Furniture & Fixtures, Pottery, China, Glass Pr...",EMP,Total employment,1991,2709.109695
3473,USA,United States,C29_30,Transport Equipment,EMP,Total employment,1991,3973.464240
3474,USA,United States,C21,Drugs & Medicines,EMP,Total employment,1991,379.813403
3475,USA,United States,B05_06,Petroleum & Coal Products,EMP,Total employment,1991,665.446811
3476,USA,United States,C13,"Textiles, Apparel & Leather",EMP,Total employment,1991,1517.862679
3477,USA,United States,C10,Food,EMP,Total employment,1991,3000.424862
3478,USA,United States,C29,Motor Vehicles,EMP,Total employment,1991,2052.390869
3479,USA,United States,C18,Printing & Publishing,EMP,Total employment,1991,1565.470851
3480,USA,United States,J59_60,"Radio, TV & Communication",EMP,Total employment,1991,938.037247
3481,USA,United States,C16,Wood Products,EMP,Total employment,1991,1026.587473
3482,USA,United States,C25,Metal Products,EMP,Total employment,1991,3239.963030
3483,USA,United States,C22,Rubber & Plastic Products,EMP,Total employment,1991,1588.641984
3484,USA,United States,C23,Non-Metallic Products nec.,EMP,Total employment,1991,1038.633497
3485,USA,United States,C11,Beverages,EMP,Total employment,1991,335.873763
3486,USA,United States,C17,Paper & Products,EMP,Total employment,1991,1274.337881
3487,USA,United States,C15,"Leather, Footwear, & Products",EMP,Total employment,1990,243.844022
3488,USA,United States,C28,Non-Electrical Machinery,EMP,Total employment,1990,2741.139016
3489,USA,United States,M_N,Professional Goods,EMP,Total employment,1990,20939.489976
3490,USA,United States,C12,Tobacco,EMP,Total employment,1990,86.183598
3491,USA,United States,C19,Petroleum Refineries,EMP,Total employment,1990,303.588557
3492,USA,United States,C14,Wearing Apparel,EMP,Total employment,1990,1581.265429
3493,USA,United States,C26,Office & Computing,EMP,Total employment,1990,3716.254721
3494,USA,United States,C20,Other chemicals,EMP,Total employment,1990,1587.439795
3495,USA,United States,C27,Electrical Machinery,EMP,Total employment,1990,1225.568075
3496,USA,United States,C301,Shipbuilding & Repairing,EMP,Total employment,1990,356.204559
3497,USA,United States,C31_32,"Furniture & Fixtures, Pottery, China, Glass Pr...",EMP,Total employment,1990,2821.285364
3498,USA,United States,C29_30,Transport Equipment,EMP,Total employment,1990,4194.865220
3499,USA,United States,C21,Drugs & Medicines,EMP,Total employment,1990,362.577303
3500,USA,United States,B05_06,Petroleum & Coal Products,EMP,Total employment,1990,692.750827
3501,USA,United States,C13,"Textiles, Apparel & Leather",EMP,Total employment,1990,1546.607239
3502,USA,United States,C10,Food,EMP,Total employment,1990,3001.134058
3503,USA,United States,C29,Motor Vehicles,EMP,Total employment,1990,2121.081026
3504,USA,United States,C18,Printing & Publishing,EMP,Total employment,1990,1611.919858
3505,USA,United States,J59_60,"Radio, TV & Communication",EMP,Total employment,1990,945.121943
3506,USA,United States,C16,Wood Products,EMP,Total employment,1990,1111.561110
3507,USA,United States,C25,Metal Products,EMP,Total employment,1990,3380.459770
3508,USA,United States,C22,Rubber & Plastic Products,EMP,Total employment,1990,1629.013439
3509,USA,United States,C23,Non-Metallic Products nec.,EMP,Total employment,1990,1110.437193
3510,USA,United States,C11,Beverages,EMP,Total employment,1990,337.976966
3511,USA,United States,C17,Paper & Products,EMP,Total employment,1990,1287.416208

In [71]:
employ_ind = (
    emp_df
    .groupby(['Economic activity', 'Reference area'], as_index=False)['OBS_VALUE']
    .mean(numeric_only=True)
)
employ_ind = employ_ind.rename(columns={'OBS_VALUE': 'Total Employment'})
employ_ind

,Economic activity,Reference area,Total Employment
0,Beverages,United States,336.925365
1,Drugs & Medicines,United States,364.278633
2,Electrical Machinery,United States,1227.639550
3,Food,United States,3000.779460
4,"Furniture & Fixtures, Pottery, China, Glass Pr...",United States,2765.197529
5,"Leather, Footwear, & Products",United States,236.262187
6,Metal Products,United States,3310.211400
7,Motor Vehicles,United States,2086.735948
8,Non-Electrical Machinery,United States,2728.764387
9,Non-Metallic Products nec.,United States,1074.535345
10,Office & Computing,United States,3687.046953
11,Other chemicals,United States,1575.693697
12,Paper & Products,United States,1280.877044
13,Petroleum & Coal Products,United States,679.098819
14,Petroleum Refineries,United States,302.588255
15,Printing & Publishing,United States,1588.695355
16,Professional Goods,United States,20691.127301
17,"Radio, TV & Communication",United States,941.579595
18,Rubber & Plastic Products,United States,1608.827712
19,Shipbuilding & Repairing,United States,347.107901
20,"Textiles, Apparel & Leather",United States,1532.234959
21,Tobacco,United States,85.666579
22,Transport Equipment,United States,4180.182852
23,Wearing Apparel,United States,1579.537164
24,Wood Products,United States,1069.074292

# Lab Com (industry)

In [72]:
labcom_us_ind = employ_ind.merge(labor_comp_ind, how = 'left')
labcom_us_ind['labor/employment'] = labcom_us_ind['Labor Compensation']/labcom_us_ind['Total Employment']
labcom_us_ind

,Economic activity,Reference area,Total Employment,Labor Compensation,labor/employment
0,Beverages,United States,336.925365,NaN,NaN
1,Drugs & Medicines,United States,364.278633,18199.712540,49.960966
2,Electrical Machinery,United States,1227.639550,24487.008635,19.946416
3,Food,United States,3000.779460,NaN,NaN
4,"Furniture & Fixtures, Pottery, China, Glass Pr...",United States,2765.197529,NaN,NaN
5,"Leather, Footwear, & Products",United States,236.262187,2121.572297,8.979737
6,Metal Products,United States,3310.211400,57289.410699,17.306874
7,Motor Vehicles,United States,2086.735948,42139.396149,20.193928
8,Non-Electrical Machinery,United States,2728.764387,57219.995840,20.969196
9,Non-Metallic Products nec.,United States,1074.535345,20463.348109,19.043904
10,Office & Computing,United States,3687.046953,79916.971137,21.675062
11,Other chemicals,United States,1575.693697,33734.671004,21.409409
12,Paper & Products,United States,1280.877044,27318.092447,21.327646
13,Petroleum & Coal Products,United States,679.098819,19862.657766,29.248553
14,Petroleum Refineries,United States,302.588255,6939.450283,22.933641
15,Printing & Publishing,United States,1588.695355,26506.081543,16.684181
16,Professional Goods,United States,20691.127301,323056.052495,15.613265
17,"Radio, TV & Communication",United States,941.579595,NaN,NaN
18,Rubber & Plastic Products,United States,1608.827712,25538.992470,15.874287
19,Shipbuilding & Repairing,United States,347.107901,4632.339943,13.345533
20,"Textiles, Apparel & Leather",United States,1532.234959,17775.074460,11.600750
21,Tobacco,United States,85.666579,2309.438187,26.958450
22,Transport Equipment,United States,4180.182852,90303.065652,21.602659
23,Wearing Apparel,United States,1579.537164,16682.467299,10.561617
24,Wood Products,United States,1069.074292,13705.045767,12.819545

# Capital Formation

In [73]:
capform_df = macro_df[macro_df['Measure'] == 'Gross fixed capital formation']
capform_df = capform_df[capform_df['Reference area'] == "United States"]
capform_df

,REF_AREA,Reference area,ACTIVITY,Economic activity,MEASURE,Measure,TIME_PERIOD,OBS_VALUE
589,USA,United States,C22,Rubber & Plastic Products,P51G,Gross fixed capital formation,1989,6135.0
590,USA,United States,C28,Non-Electrical Machinery,P51G,Gross fixed capital formation,1989,10720.0
591,USA,United States,C31_32,"Furniture & Fixtures, Pottery, China, Glass Pr...",P51G,Gross fixed capital formation,1989,6741.0
592,USA,United States,B05_06,Petroleum & Coal Products,P51G,Gross fixed capital formation,1989,23487.0
593,USA,United States,C17,Paper & Products,P51G,Gross fixed capital formation,1989,10770.0
594,USA,United States,C13,"Textiles, Apparel & Leather",P51G,Gross fixed capital formation,1989,3048.0
595,USA,United States,C19,Petroleum Refineries,P51G,Gross fixed capital formation,1989,6850.0
596,USA,United States,C29_30,Transport Equipment,P51G,Gross fixed capital formation,1989,28412.0
597,USA,United States,C18,Printing & Publishing,P51G,Gross fixed capital formation,1989,3822.0
598,USA,United States,C20,Other chemicals,P51G,Gross fixed capital formation,1989,27069.0
599,USA,United States,C14,Wearing Apparel,P51G,Gross fixed capital formation,1989,1081.0
600,USA,United States,C23,Non-Metallic Products nec.,P51G,Gross fixed capital formation,1989,4810.0
601,USA,United States,C26,Office & Computing,P51G,Gross fixed capital formation,1989,27920.0
602,USA,United States,C25,Metal Products,P51G,Gross fixed capital formation,1989,7421.0
603,USA,United States,C27,Electrical Machinery,P51G,Gross fixed capital formation,1989,5005.0
604,USA,United States,M_N,Professional Goods,P51G,Gross fixed capital formation,1989,57610.0
605,USA,United States,C16,Wood Products,P51G,Gross fixed capital formation,1989,2066.0
606,USA,United States,C29,Motor Vehicles,P51G,Gross fixed capital formation,1989,15450.0
607,USA,United States,J59_60,"Radio, TV & Communication",P51G,Gross fixed capital formation,1989,70594.0
608,USA,United States,C22,Rubber & Plastic Products,P51G,Gross fixed capital formation,1990,6129.0
609,USA,United States,C28,Non-Electrical Machinery,P51G,Gross fixed capital formation,1990,11423.0
610,USA,United States,C13,"Textiles, Apparel & Leather",P51G,Gross fixed capital formation,1990,3092.0
611,USA,United States,B05_06,Petroleum & Coal Products,P51G,Gross fixed capital formation,1990,26840.0
612,USA,United States,C17,Paper & Products,P51G,Gross fixed capital formation,1990,12332.0
613,USA,United States,C31_32,"Furniture & Fixtures, Pottery, China, Glass Pr...",P51G,Gross fixed capital formation,1990,6795.0
614,USA,United States,C19,Petroleum Refineries,P51G,Gross fixed capital formation,1990,7455.0
615,USA,United States,C29_30,Transport Equipment,P51G,Gross fixed capital formation,1990,28865.0
616,USA,United States,C18,Printing & Publishing,P51G,Gross fixed capital formation,1990,3891.0
617,USA,United States,C20,Other chemicals,P51G,Gross fixed capital formation,1990,30708.0
618,USA,United States,C14,Wearing Apparel,P51G,Gross fixed capital formation,1990,1077.0
619,USA,United States,C23,Non-Metallic Products nec.,P51G,Gross fixed capital formation,1990,4762.0
620,USA,United States,C26,Office & Computing,P51G,Gross fixed capital formation,1990,29260.0
621,USA,United States,C27,Electrical Machinery,P51G,Gross fixed capital formation,1990,5262.0
622,USA,United States,C25,Metal Products,P51G,Gross fixed capital formation,1990,7803.0
623,USA,United States,C16,Wood Products,P51G,Gross fixed capital formation,1990,2026.0
624,USA,United States,M_N,Professional Goods,P51G,Gross fixed capital formation,1990,56213.0
625,USA,United States,C29,Motor Vehicles,P51G,Gross fixed capital formation,1990,16321.0
626,USA,United States,J59_60,"Radio, TV & Communication",P51G,Gross fixed capital formation,1990,74732.0
627,USA,United States,C22,Rubber & Plastic Products,P51G,Gross fixed capital formation,1991,6130.0
628,USA,United States,C28,Non-Electrical Machinery,P51G,Gross fixed capital formation,1991,11411.0
629,USA,United States,C13,"Textiles, Apparel & Leather",P51G,Gross fixed capital formation,1991,2976.0
630,USA,United States,B05_06,Petroleum & Coal Products,P51G,Gross fixed capital formation,1991,27445.0
631,USA,United States,C17,Paper & Products,P51G,Gross fixed capital formation,1991,10786.0
632,USA,United States,C31_32,"Furniture & Fixtures, Pottery, China, Glass Pr...",P51G,Gross fixed capital formation,1991,6972.0
633,USA,United States,C19,Petroleum Refineries,P51G,Gross fixed capital formation,1991,9073.0
634,USA,United States,C29_30,Transport Equipment,P51G,Gross fixed capital formation,1991,29565.0
635,USA,United States,C18,Printing & Publishing,P51G,Gross fixed capital formation,1991,3647.0
636,USA,United States,C20,Other chemicals,P51G,Gross fixed capital formation,1991,33564.0
637,USA,United States,C14,Wearing Apparel,P51G,Gross fixed capital formation,1991,1064.0
638,USA,United States,C23,Non-Metallic Products nec.,P51G,Gross fixed capital formation,1991,4475.0
639,USA,United States,C26,Office & Computing,P51G,Gross fixed capital formation,1991,29813.0
640,USA,United States,C27,Electrical Machinery,P51G,Gross fixed capital formation,1991,5071.0
641,USA,United States,C25,Metal Products,P51G,Gross fixed capital formation,1991,7430.0
642,USA,United States,C16,Wood Products,P51G,Gross fixed capital formation,1991,1832.0
643,USA,United States,M_N,Professional Goods,P51G,Gross fixed capital formation,1991,56577.0
644,USA,United States,C29,Motor Vehicles,P51G,Gross fixed capital formation,1991,17038.0
645,USA,United States,J59_60,"Radio, TV & Communication",P51G,Gross fixed capital formation,1991,77317.0

In [74]:
capform_ind = (
    capform_df
    .groupby(['Economic activity', 'Reference area'], as_index=False)['OBS_VALUE']
    .mean(numeric_only=True)
)
capform_ind = capform_ind.rename(columns={'OBS_VALUE': 'Capital Formation'})
capform_ind

,Economic activity,Reference area,Capital Formation
0,Electrical Machinery,United States,5112.666667
1,"Furniture & Fixtures, Pottery, China, Glass Pr...",United States,6836.000000
2,Metal Products,United States,7551.333333
3,Motor Vehicles,United States,16269.666667
4,Non-Electrical Machinery,United States,11184.666667
5,Non-Metallic Products nec.,United States,4682.333333
6,Office & Computing,United States,28997.666667
7,Other chemicals,United States,30447.000000
8,Paper & Products,United States,11296.000000
9,Petroleum & Coal Products,United States,25924.000000
10,Petroleum Refineries,United States,7792.666667
11,Printing & Publishing,United States,3786.666667
12,Professional Goods,United States,56800.000000
13,"Radio, TV & Communication",United States,74214.333333
14,Rubber & Plastic Products,United States,6131.333333
15,"Textiles, Apparel & Leather",United States,3038.666667
16,Transport Equipment,United States,28947.333333
17,Wearing Apparel,United States,1074.000000
18,Wood Products,United States,1974.666667

# Value Added (industry)

In [75]:
va_df = macro_df[macro_df['Measure'] == 'Value added']
va_df = va_df[va_df['Reference area'] == "United States"]
va_df

,REF_AREA,Reference area,ACTIVITY,Economic activity,MEASURE,Measure,TIME_PERIOD,OBS_VALUE
2643,USA,United States,C20,Other chemicals,B1G,Value added,1989,75621.718106
2644,USA,United States,C21,Drugs & Medicines,B1G,Value added,1989,31318.580771
2645,USA,United States,C26,Office & Computing,B1G,Value added,1989,108952.354288
2646,USA,United States,C19,Petroleum Refineries,B1G,Value added,1989,26016.391835
2647,USA,United States,C29_30,Transport Equipment,B1G,Value added,1989,132169.664184
2648,USA,United States,M_N,Professional Goods,B1G,Value added,1989,475961.664236
2649,USA,United States,C27,Electrical Machinery,B1G,Value added,1989,40154.901053
2650,USA,United States,C28,Non-Electrical Machinery,B1G,Value added,1989,85370.600289
2651,USA,United States,C15,"Leather, Footwear, & Products",B1G,Value added,1991,8386.415447
2652,USA,United States,C20,Other chemicals,B1G,Value added,1991,78626.501513
2653,USA,United States,C21,Drugs & Medicines,B1G,Value added,1991,40991.344211
2654,USA,United States,C242_2432,Non-Ferrous Metals,B1G,Value added,1991,25900.820043
2655,USA,United States,C17,Paper & Products,B1G,Value added,1991,45100.178063
2656,USA,United States,C26,Office & Computing,B1G,Value added,1991,113576.448139
2657,USA,United States,C23,Non-Metallic Products nec.,B1G,Value added,1991,27338.978865
2658,USA,United States,C19,Petroleum Refineries,B1G,Value added,1991,27930.306580
2659,USA,United States,C14,Wearing Apparel,B1G,Value added,1991,17532.847619
2660,USA,United States,C18,Printing & Publishing,B1G,Value added,1991,30601.973247
2661,USA,United States,C12,Tobacco,B1G,Value added,1991,20357.208234
2662,USA,United States,C13,"Textiles, Apparel & Leather",B1G,Value added,1991,23819.174589
2663,USA,United States,J59_60,"Radio, TV & Communication",B1G,Value added,1991,54876.064271
2664,USA,United States,M_N,Professional Goods,B1G,Value added,1991,522997.947364
2665,USA,United States,C301,Shipbuilding & Repairing,B1G,Value added,1991,6609.601660
2666,USA,United States,C25,Metal Products,B1G,Value added,1991,73331.697779
2667,USA,United States,C22,Rubber & Plastic Products,B1G,Value added,1991,39118.761117
2668,USA,United States,C29_30,Transport Equipment,B1G,Value added,1991,130698.796313
2669,USA,United States,C241_2431,Iron & Steel,B1G,Value added,1991,18126.233891
2670,USA,United States,C27,Electrical Machinery,B1G,Value added,1991,39337.945063
2671,USA,United States,B05_06,Petroleum & Coal Products,B1G,Value added,1991,52035.373460
2672,USA,United States,C16,Wood Products,B1G,Value added,1991,18025.967421
2673,USA,United States,C29,Motor Vehicles,B1G,Value added,1991,56864.153651
2674,USA,United States,C28,Non-Electrical Machinery,B1G,Value added,1991,80466.692365
2675,USA,United States,C15,"Leather, Footwear, & Products",B1G,Value added,1990,8104.393468
2676,USA,United States,C20,Other chemicals,B1G,Value added,1990,79461.422670
2677,USA,United States,C21,Drugs & Medicines,B1G,Value added,1990,35601.845524
2678,USA,United States,C242_2432,Non-Ferrous Metals,B1G,Value added,1990,27356.649331
2679,USA,United States,C26,Office & Computing,B1G,Value added,1990,111805.079741
2680,USA,United States,C17,Paper & Products,B1G,Value added,1990,45700.612346
2681,USA,United States,C23,Non-Metallic Products nec.,B1G,Value added,1990,29702.632202
2682,USA,United States,C19,Petroleum Refineries,B1G,Value added,1990,29054.424111
2683,USA,United States,C14,Wearing Apparel,B1G,Value added,1990,16964.247476
2684,USA,United States,C18,Printing & Publishing,B1G,Value added,1990,30718.263462
2685,USA,United States,C12,Tobacco,B1G,Value added,1990,18360.348800
2686,USA,United States,C13,"Textiles, Apparel & Leather",B1G,Value added,1990,23358.734333
2687,USA,United States,J59_60,"Radio, TV & Communication",B1G,Value added,1990,53721.039788
2688,USA,United States,M_N,Professional Goods,B1G,Value added,1990,520650.188592
2689,USA,United States,C301,Shipbuilding & Repairing,B1G,Value added,1990,6590.568578
2690,USA,United States,C25,Metal Products,B1G,Value added,1990,75333.605299
2691,USA,United States,C22,Rubber & Plastic Products,B1G,Value added,1990,36780.348389
2692,USA,United States,C29_30,Transport Equipment,B1G,Value added,1990,124515.675225
2693,USA,United States,C241_2431,Iron & Steel,B1G,Value added,1990,20385.355775
2694,USA,United States,C27,Electrical Machinery,B1G,Value added,1990,40444.168879
2695,USA,United States,B05_06,Petroleum & Coal Products,B1G,Value added,1990,60602.407968
2696,USA,United States,C16,Wood Products,B1G,Value added,1990,18954.144878
2697,USA,United States,C29,Motor Vehicles,B1G,Value added,1990,57104.084213
2698,USA,United States,C28,Non-Electrical Machinery,B1G,Value added,1990,86466.588284

In [76]:
va_ind = (
    va_df
    .groupby(['Economic activity', 'Reference area'], as_index=False)['OBS_VALUE']
    .mean(numeric_only=True)
)
va_ind = va_ind.rename(columns={'OBS_VALUE': 'Value Added'})
va_ind

                Economic activity Reference area    Value Added
0               Drugs & Medicines  United States   35970.590168
1            Electrical Machinery  United States   39979.004998
2                    Iron & Steel  United States   19255.794833
3   Leather, Footwear, & Products  United States    8245.404457
4                  Metal Products  United States   74332.651539
5                  Motor Vehicles  United States   56984.118932
6        Non-Electrical Machinery  United States   84101.293646
7              Non-Ferrous Metals  United States   26628.734687
8      Non-Metallic Products nec.  United States   28520.805533
9              Office & Computing  United States  111444.627389
10                Other chemicals  United States   77903.214096
11               Paper & Products  United States   45400.395204
12      Petroleum & Coal Products  United States   56318.890714
13           Petroleum Refineries  United States   27667.040842
14          Printing & Publishing  United States   30660.118355
15             Professional Goods  United States  506536.600064
16      Radio, TV & Communication  United States   54298.552029
17      Rubber & Plastic Products  United States   37949.554753
18       Shipbuilding & Repairing  United States    6600.085119
19    Textiles, Apparel & Leather  United States   23588.954461
20                        Tobacco  United States   19358.778517
21            Transport Equipment  United States  129128.045241
22                Wearing Apparel  United States   17248.547548
23                  Wood Products  United States   18490.056150

# Cap US (industry)

In [77]:
cap_us_ind = capform_ind.merge(va_ind, how = 'left')
cap_us_ind['labor/employment'] = cap_us_ind['Capital Formation']/cap_us_ind['Value Added']
cap_us_ind

,Economic activity,Reference area,Capital Formation,Value Added,labor/employment
0,Electrical Machinery,United States,5112.666667,39979.004998,0.127884
1,"Furniture & Fixtures, Pottery, China, Glass Pr...",United States,6836.000000,NaN,NaN
2,Metal Products,United States,7551.333333,74332.651539,0.101588
3,Motor Vehicles,United States,16269.666667,56984.118932,0.285512
4,Non-Electrical Machinery,United States,11184.666667,84101.293646,0.132990
5,Non-Metallic Products nec.,United States,4682.333333,28520.805533,0.164173
6,Office & Computing,United States,28997.666667,111444.627389,0.260198
7,Other chemicals,United States,30447.000000,77903.214096,0.390831
8,Paper & Products,United States,11296.000000,45400.395204,0.248808
9,Petroleum & Coal Products,United States,25924.000000,56318.890714,0.460307
10,Petroleum Refineries,United States,7792.666667,27667.040842,0.281659
11,Printing & Publishing,United States,3786.666667,30660.118355,0.123505
12,Professional Goods,United States,56800.000000,506536.600064,0.112134
13,"Radio, TV & Communication",United States,74214.333333,54298.552029,1.366783
14,Rubber & Plastic Products,United States,6131.333333,37949.554753,0.161565
15,"Textiles, Apparel & Leather",United States,3038.666667,23588.954461,0.128817
16,Transport Equipment,United States,28947.333333,129128.045241,0.224175
17,Wearing Apparel,United States,1074.000000,17248.547548,0.062266
18,Wood Products,United States,1974.666667,18490.056150,0.106796

# Secondary Schooling (country)

In [78]:
educ_df = pd.read_csv('barro_lee.csv')
educ_df

,BLcode,country,year,sex,agefrom,ageto,lu,lp,lpc,ls,lsc,lh,lhc,yr_sch,yr_sch_pri,yr_sch_sec,yr_sch_ter,pop,WBcode,region_code
0,1,Algeria,1950,MF,25,999,79.20,18.88,3.55,1.58,0.51,0.34,0.23,0.90,0.79,0.10,0.01,3609,DZA,Middle East and North Africa
1,1,Algeria,1955,MF,25,999,79.80,18.10,3.60,1.70,0.50,0.40,0.27,0.90,0.78,0.11,0.01,3882,DZA,Middle East and North Africa
2,1,Algeria,1960,MF,25,999,84.56,13.51,2.82,1.60,0.60,0.33,0.21,0.72,0.61,0.10,0.01,4097,DZA,Middle East and North Africa
3,1,Algeria,1965,MF,25,999,88.00,9.80,2.43,1.70,0.80,0.40,0.26,0.64,0.51,0.12,0.01,4215,DZA,Middle East and North Africa
4,1,Algeria,1970,MF,25,999,84.40,13.00,3.17,2.20,1.02,0.30,0.19,0.78,0.64,0.14,0.01,4684,DZA,Middle East and North Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1893,358,Ukraine,1990,MF,25,999,6.18,16.28,13.36,56.67,39.55,20.87,14.13,9.14,4.11,4.33,0.70,33736,UKR,Europe and Central Asia
1894,358,Ukraine,1995,MF,25,999,4.71,11.49,9.47,55.61,39.18,28.19,19.20,10.04,4.58,4.52,0.95,33677,UKR,Europe and Central Asia
1895,358,Ukraine,2000,MF,25,999,3.42,11.02,8.31,48.48,34.80,36.69,25.14,10.68,4.98,4.46,1.24,33037,UKR,Europe and Central Asia
1896,358,Ukraine,2005,MF,25,999,2.31,6.00,5.06,53.54,39.45,38.15,26.01,11.16,5.17,4.71,1.28,32243,UKR,Europe and Central Asia
1897,358,Ukraine,2010,MF,25,999,1.49,4.97,4.24,53.63,40.85,39.92,27.14,11.34,5.28,4.72,1.34,31760,UKR,Europe and Central Asia

In [79]:
educ_ind = educ_df[educ_df['country'].isin(countries)]
educ_ind = educ_ind[educ_ind['year'].isin([1985,1986,1987,1988,1989, 1990])]
educ_ind = educ_ind[['country', 'yr_sch_sec']]
educ_ind = educ_ind.groupby('country').mean('yr_sch_sec').reset_index()
educ_ind

           country  yr_sch_sec
0        Australia       4.525
1          Austria       3.905
2          Belgium       2.860
3           Canada       3.830
4          Denmark       3.435
5          Finland       2.750
6           France       2.580
7          Germany       1.985
8           Greece       2.110
9            Italy       2.465
10           Japan       3.110
11          Mexico       1.625
12     Netherlands       3.800
13     New Zealand       3.825
14          Norway       2.620
15        Portugal       1.315
16           Spain       1.620
17          Sweden       4.080
18  United Kingdom       2.775
19   United States       5.080

# KAPW (country)

In [80]:
cap_df = pd.read_csv('penn_tables.csv')
cap_df

,OBS COUNTRY,YR,POP,RGDPCH,RGDPEA,RGDPW,CGDP,CC,CI,CG,P,PC,PI,PG,XR,KAPW,KPDUR,KRES,OPEN,RGNP
0,ALGERIA,1988.0,23805,2726,3515.0,12011.0,2562,52.1,28.8,18.3,85.3,81.6,103.7,77.0,6.915,NaN,NaN,NaN,29.7,96.6
1,ANGOLA,1986.0,8605,840,1081.0,1944.0,840,58.1,11.0,24.9,60.3,65.0,64.2,43.8,79.500,NaN,NaN,NaN,NaN,NaN
2,BENIN,NaN,4454,952,1246.0,2020.0,1054,75.7,4.3,24.8,38.2,44.8,120.4,16.3,297.850,NaN,NaN,NaN,48.6,102.4
3,BOTSWANA,1988.0,1103,2282,3025.0,6402.0,2507,33.5,19.3,40.5,43.3,50.0,55.9,22.6,1.868,NaN,NaN,NaN,116.3,87.3
4,BURKINA FASO,NaN,8546,566,726.0,1209.0,616,64.8,14.2,31.1,35.3,42.5,70.0,26.4,297.850,NaN,NaN,NaN,59.0,99.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,PAPUA N. GUINEA,NaN,3804,1696,2129.0,3603.0,1685,55.6,21.3,25.6,49.1,51.7,67.3,35.7,0.875,NaN,NaN,NaN,94.4,94.1
134,SOLOMON IS.,NaN,304,2282,NaN,NaN,2444,66.4,22.1,22.9,27.3,28.6,54.3,35.6,2.083,NaN,NaN,NaN,165.6,99.7
135,TONGA,1988.0,97,2135,NaN,NaN,2135,74.2,23.5,18.2,29.6,41.3,54.0,20.7,1.304,NaN,NaN,NaN,102.2,103.2
136,VANUATU,1988.0,137,1973,NaN,NaN,1973,54.0,27.0,26.2,43.7,48.8,54.2,43.0,106.030,NaN,NaN,NaN,123.4,103.2
137,WESTERN SAMOA,NaN,168,1744,NaN,NaN,1887,66.6,17.5,29.6,35.8,48.9,68.6,19.4,2.080,NaN,NaN,NaN,95.3,99.7

In [81]:
cap_df = cap_df[cap_df['OBS COUNTRY'].str.lower().isin([c.lower() for c in countries])]
cap_df

,OBS COUNTRY,YR,POP,RGDPCH,RGDPEA,RGDPW,CGDP,CC,CI,CG,P,PC,PI,PG,XR,KAPW,KPDUR,KRES,OPEN,RGNP
49,CANADA,NaN,26104,16272,18220.0,32421.0,17681,57.0,25.8,16.4,105.9,109.2,103.8,105.1,1.231,41422.0,33.8,33.7,51.7,96.9
59,MEXICO,NaN,83593,4996,6258.0,14581.0,5323,71.3,15.3,12.4,39.7,37.7,59.9,26.2,2250.000,NaN,NaN,NaN,30.6,95.7
65,U.S.A.,NaN,245871,18339,20605.0,37606.0,19851,66.5,17.3,17.7,100.0,100.0,100.0,100.0,1.000,32046.0,40.1,52.4,24.1,100.7
89,JAPAN,NaN,122433,12209,13579.0,24417.0,13645,56.5,27.9,10.6,171.2,173.8,216.1,128.9,128.150,40256.0,34.8,32.2,23.2,100.6
106,AUSTRIA,NaN,7563,11201,NaN,23907.0,12353,54.8,28.1,16.6,136.1,138.9,146.9,125.1,12.348,28245.0,45.4,31.9,74.4,99.1
107,BELGIUM,NaN,9867,11495,12671.0,27481.0,13005,61.2,19.6,15.8,119.9,124.8,124.1,106.2,36.768,42670.0,23.1,46.1,133.9,98.7
109,DENMARK,NaN,5133,12089,13263.0,21969.0,13607,49.9,17.6,28.0,153.9,166.2,179.3,123.2,6.732,30878.0,34.2,57.9,61.7,96.0
110,FINLAND,NaN,4944,12360,13673.0,24190.0,13980,50.5,28.0,21.8,152.2,163.2,167.2,118.1,4.183,46451.0,28.6,43.0,49.9,98.0
111,FRANCE,NaN,55873,12190,13598.0,27140.0,13584,58.9,22.0,18.9,125.1,128.2,134.5,110.5,5.957,38093.0,36.8,49.3,42.9,99.8
112,GERMANY,NaN,61049,12604,13643.0,26219.0,14621,54.0,20.8,17.5,135.3,137.1,152.7,130.9,1.756,38261.0,33.1,48.5,59.5,100.5
113,GREECE,NaN,10030,5857,6554.0,15366.0,6436,70.3,15.8,19.6,82.2,80.0,107.4,76.1,141.860,15310.0,26.4,76.2,52.5,98.6
117,ITALY,NaN,57470,11741,12919.0,28201.0,13001,61.5,22.0,17.0,110.9,111.7,134.4,98.5,1301.600,32968.0,32.7,67.5,36.6,99.3
120,NETHERLANDS,NaN,14760,11468,12541.0,28050.0,12684,60.0,17.5,17.6,121.9,121.2,150.2,107.8,1.977,NaN,NaN,NaN,105.0,99.5
121,NORWAY,NaN,4205,14376,16553.0,30103.0,13819,49.0,30.7,21.0,156.7,166.6,164.1,133.5,6.517,50932.0,23.4,33.9,71.9,97.8
123,PORTUGAL,NaN,10162,6321,6050.0,11583.0,5984,58.6,22.2,25.8,68.6,77.1,105.9,32.5,143.950,NaN,NaN,NaN,78.8,98.0
124,SPAIN,NaN,38997,7406,8380.0,20398.0,8258,61.8,22.8,16.7,105.8,108.0,123.5,83.5,116.490,26221.0,25.4,84.4,40.0,98.9
125,SWEDEN,NaN,8357,12991,14219.0,25330.0,14941,51.5,18.6,27.8,145.3,149.9,172.7,120.9,6.127,25256.0,33.0,51.7,63.3,98.1
128,U.K.,NaN,57019,11982,13251.0,24726.0,13060,64.7,18.7,20.8,110.8,109.6,143.3,85.5,0.562,22600.0,44.0,33.2,50.5,100.2
130,AUSTRALIA,NaN,16506,13321,15043.0,28490.0,14529,59.6,24.5,16.9,102.6,100.3,115.8,99.9,1.280,29829.0,41.9,39.1,34.4,96.0
132,NEW ZEALAND,NaN,3339,9864,11151.0,21609.0,11308,60.5,19.2,16.3,105.4,104.2,140.0,81.5,1.553,NaN,NaN,NaN,63.4,96.1

In [82]:
cap_ind = cap_df[['OBS COUNTRY', 'KAPW']]
cap_ind

     OBS COUNTRY     KAPW
49        CANADA  41422.0
59        MEXICO      NaN
65        U.S.A.  32046.0
89         JAPAN  40256.0
106      AUSTRIA  28245.0
107      BELGIUM  42670.0
109      DENMARK  30878.0
110      FINLAND  46451.0
111       FRANCE  38093.0
112      GERMANY  38261.0
113       GREECE  15310.0
117        ITALY  32968.0
120  NETHERLANDS      NaN
121       NORWAY  50932.0
123     PORTUGAL      NaN
124        SPAIN  26221.0
125       SWEDEN  25256.0
128         U.K.  22600.0
130    AUSTRALIA  29829.0
132  NEW ZEALAND      NaN

# Land Use (country)

In [83]:
arable_df = pd.read_csv('arable_land.csv')
arable_df

,country,Arable Land_1980,Arable Land_1990,Arable Land_2000
0,Afghanistan,7910.0,7910.0,NaN
1,Albania,585.0,579.0,578.0
2,Algeria,6875.0,7081.0,7662.0
3,American Samoa,2.0,2.0,2.0
4,Angola,2900.0,2900.0,3000.0
...,...,...,...,...
181,Yemen,1366.0,1523.0,1545.0
182,"Yugoslavia, former Socialist Fed. Rep. of",7153.0,7020.0,NaN
183,Zambia,5094.0,5249.0,5260.0
184,Zimbabwe,2505.0,2890.0,3220.0
185,World,1342819.0,1391565.0,1396327.0

In [84]:
arable_ind = arable_df[arable_df['country'].isin(countries)]
arable_ind = arable_ind[['country', 'Arable Land_1990']]
arable_ind

            country  Arable Land_1990
8         Australia           47900.0
9           Austria            1426.0
16          Belgium               NaN
30           Canada           45820.0
47          Denmark            2561.0
59          Finland            2289.0
60           France           17999.0
65          Germany           11971.0
67           Greece            2899.0
82            Italy            9012.0
84            Japan            4768.0
108          Mexico           24000.0
116     Netherlands             879.0
118     New Zealand            2511.0
122          Norway             864.0
132        Portugal            2344.0
153           Spain           15335.0
158          Sweden            2845.0
174  United Kingdom            6620.0
175   United States          185742.0

In [85]:
macro_df[macro_df['Measure']== 'Total employment']

,REF_AREA,Reference area,ACTIVITY,Economic activity,MEASURE,Measure,TIME_PERIOD,OBS_VALUE
3375,ITA,Italy,C28,Non-Electrical Machinery,EMP,Total employment,1989,796.436344
3376,ITA,Italy,C29_30,Transport Equipment,EMP,Total employment,1989,652.147988
3377,ITA,Italy,C19,Petroleum Refineries,EMP,Total employment,1989,49.023484
3378,ITA,Italy,C28,Non-Electrical Machinery,EMP,Total employment,1990,820.172790
3379,ITA,Italy,C22,Rubber & Plastic Products,EMP,Total employment,1990,381.303901
...,...,...,...,...,...,...,...,...
3858,DNK,Denmark,C17,Paper & Products,EMP,Total employment,1991,18.761000
3859,DNK,Denmark,C29,Motor Vehicles,EMP,Total employment,1991,9.569000
3860,DNK,Denmark,C16,Wood Products,EMP,Total employment,1991,19.025000
3861,DNK,Denmark,C22,Rubber & Plastic Products,EMP,Total employment,1991,26.549000
3862,DNK,Denmark,C23,Non-Metallic Products nec.,EMP,Total employment,1991,32.415000

In [86]:
employment_ind = (
    macro_df[macro_df['Measure'] == 'Total employment']
    .groupby(['Economic activity', 'Reference area'], as_index=False)['OBS_VALUE']
    .mean(numeric_only=True)
)
employment_ind = employment_ind.rename(columns={'OBS_VALUE': 'Employment'})
employment_ind

     Economic activity Reference area   Employment
0            Beverages      Australia    37.734500
1            Beverages        Denmark    10.899333
2            Beverages        Finland     8.766667
3            Beverages  United States   336.925365
4    Drugs & Medicines      Australia    34.336500
..                 ...            ...          ...
189      Wood Products         Mexico   807.940383
190      Wood Products    Netherlands    37.240031
191      Wood Products         Norway    30.700000
192      Wood Products         Sweden    77.507330
193      Wood Products  United States  1069.074292

[194 rows x 3 columns]

# Agrilw (country, industry)

In [87]:
arableland_ind = employment_ind.merge(arable_ind, how = 'left', left_on = 'Reference area', right_on = 'country')
arableland_ind['AGRILW'] = arableland_ind['Arable Land_1990']/arableland_ind['Employment']
arableland_ind = arableland_ind[['country', 'Economic activity', 'AGRILW']]
arableland_ind

           country  Economic activity       AGRILW
0        Australia          Beverages  1269.395381
1          Denmark          Beverages   234.968500
2          Finland          Beverages   261.102662
3    United States          Beverages   551.285298
4        Australia  Drugs & Medicines  1395.016964
..             ...                ...          ...
189         Mexico      Wood Products    29.705162
190    Netherlands      Wood Products    23.603632
191         Norway      Wood Products    28.143322
192         Sweden      Wood Products    36.706206
193  United States      Wood Products   173.740966

[194 rows x 3 columns]

# Roundwood (country)

In [88]:
roundwood_df = pd.read_csv('roundwood.csv')
roundwood_df

,country,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991
0,World,2928.0,3038.8,3152.8,3180.4,3267.1,3338.1,3396.0,3451.0,3506.6,3429.4
1,Africa,408.8,422.1,433.1,447.9,459.9,473.0,486.1,499.6,513.9,527.2
2,Algeria,1.7,1.8,1.8,1.9,1.9,2.0,2.1,2.1,2.2,2.2
3,Angola,5.2,5.4,5.6,5.7,5.8,6.0,6.1,6.3,6.4,6.6
4,Benin,4.0,4.1,4.2,4.3,4.5,4.6,4.7,4.9,5.0,5.2
...,...,...,...,...,...,...,...,...,...,...,...
137,Papua New Guinea,7.8,7.6,7.6,7.6,7.9,8.2,8.2,8.2,8.2,8.2
138,Samoa,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
139,Solomon Islands,0.5,0.5,0.5,0.5,0.6,0.4,0.4,0.4,0.4,0.4
140,Vanuatu,0.0,0.0,0.0,0.0,0.0,0.1,0.1,0.1,0.1,0.1
141,Former USSR,355.9,355.7,367.9,368.0,373.9,385.5,385.4,385.4,385.4,355.4

In [89]:
roundwood_ind = roundwood_df[roundwood_df['country'].isin(countries)]
roundwood_ind = roundwood_ind[['country', '1989', '1990', '1991']]
roundwood_ind['roundwood'] = (roundwood_ind['1989'] + roundwood_ind['1990'] +roundwood_ind['1991'])/3
roundwood_ind = roundwood_ind[['country', 'roundwood']]
roundwood_ind = employment_ind.merge(roundwood_ind, how = 'left', left_on= 'Reference area', right_on = 'country')
roundwood_ind['ROUNDWOODW'] = roundwood_ind['roundwood']/roundwood_ind['Employment']
roundwood_ind = roundwood_ind[['Economic activity', 'country', 'ROUNDWOODW']]
roundwood_ind

     Economic activity        country  ROUNDWOODW
0            Beverages      Australia    0.520302
1            Beverages        Denmark    0.204905
2            Beverages        Finland    4.745247
3            Beverages  United States    1.508346
4    Drugs & Medicines      Australia    0.571792
..                 ...            ...         ...
189      Wood Products         Mexico    0.029086
190      Wood Products    Netherlands    0.038489
191      Wood Products         Norway    0.372421
192      Wood Products         Sweden    0.692838
193      Wood Products  United States    0.475365

[194 rows x 3 columns]

# Forestry (country)

In [90]:
forest_df = pd.read_csv('forest.csv')

In [91]:
forest_df = forest_df[['Year', 'Country', 'Product', 'Flows', 'Value OR Volume']]

In [92]:
forest_df = forest_df.groupby(['Country', 'Flows']).mean('Value OR Volume').reset_index()
forest_df

           Country                Flows    Year  Value OR Volume
0        Australia     Imports Quantity  1990.5       173.306250
1        Australia  Production Quantity  1990.5      2510.210938
2          Austria     Imports Quantity  1990.5       647.784688
3          Austria  Production Quantity  1990.5      2655.912500
4          Belgium     Imports Quantity  1990.5       591.893750
5          Belgium  Production Quantity  1990.5       708.312500
6           Canada     Imports Quantity  1990.5       730.078438
7           Canada  Production Quantity  1990.5     24489.181875
8          Denmark     Imports Quantity  1990.5       237.352812
9          Denmark  Production Quantity  1990.5       361.179375
10         Finland     Imports Quantity  1990.5       681.969375
11         Finland  Production Quantity  1990.5      5467.656250
12          France     Imports Quantity  1990.5       607.962188
13          France  Production Quantity  1990.5      5362.992500
14         Germany     Imports Quantity  1991.0       960.883125
15         Germany  Production Quantity  1991.0      6440.312500
16          Greece     Imports Quantity  1990.5       122.359687
17          Greece  Production Quantity  1990.5       210.887500
18           Italy     Imports Quantity  1990.5      1615.025312
19           Italy  Production Quantity  1990.5       900.343750
20           Japan     Imports Quantity  1990.5      5971.591250
21           Japan  Production Quantity  1990.5      8433.725000
22          Mexico     Imports Quantity  1990.5        97.123125
23          Mexico  Production Quantity  1990.5      1343.898438
24     Netherlands     Imports Quantity  1990.5       571.004063
25     Netherlands  Production Quantity  1990.5       205.237500
26     New Zealand     Imports Quantity  1990.5         6.362188
27     New Zealand  Production Quantity  1990.5      1996.875000
28          Norway     Imports Quantity  1990.5       190.727284
29          Norway  Production Quantity  1990.5      1620.918750
30        Portugal     Imports Quantity  1990.5       141.001250
31        Portugal  Production Quantity  1990.5      1592.295000
32           Spain     Imports Quantity  1990.5       584.501250
33           Spain  Production Quantity  1990.5      2109.875000
34          Sweden     Imports Quantity  1990.5       520.075625
35          Sweden  Production Quantity  1990.5      7519.562500
36  United Kingdom     Imports Quantity  1990.5      1097.580625
37  United Kingdom  Production Quantity  1990.5      1051.531250
38   United States     Imports Quantity  1990.5      2951.263437
39   United States  Production Quantity  1990.5     63598.775625

In [93]:
forest_df = forest_df.pivot(index = 'Country', columns='Flows', values='Value OR Volume').reset_index()

In [94]:
forest_df=forest_df.rename(columns={'Country': 'country'})

In [95]:
forest_df['WOODINT'] = forest_df['Imports Quantity']/forest_df['Production Quantity'] * 100

In [96]:
forest_df

Flows         country  Imports Quantity  Production Quantity     WOODINT
0           Australia        173.306250          2510.210938    6.904051
1             Austria        647.784688          2655.912500   24.390287
2             Belgium        591.893750           708.312500   83.563928
3              Canada        730.078438         24489.181875    2.981228
4             Denmark        237.352812           361.179375   65.716048
5             Finland        681.969375          5467.656250   12.472792
6              France        607.962188          5362.992500   11.336249
7             Germany        960.883125          6440.312500   14.919821
8              Greece        122.359687           210.887500   58.021309
9               Italy       1615.025312           900.343750  179.378744
10              Japan       5971.591250          8433.725000   70.806094
11             Mexico         97.123125          1343.898438    7.226969
12        Netherlands        571.004063           205.237500  278.216243
13        New Zealand          6.362188          1996.875000    0.318607
14             Norway        190.727284          1620.918750   11.766616
15           Portugal        141.001250          1592.295000    8.855222
16              Spain        584.501250          2109.875000   27.703122
17             Sweden        520.075625          7519.562500    6.916302
18     United Kingdom       1097.580625          1051.531250  104.379268
19      United States       2951.263437         63598.775625    4.640441

In [97]:
forest_ind = forest_df[['country', 'WOODINT']]

In [98]:
forest_ind

Flows         country     WOODINT
0           Australia    6.904051
1             Austria   24.390287
2             Belgium   83.563928
3              Canada    2.981228
4             Denmark   65.716048
5             Finland   12.472792
6              France   11.336249
7             Germany   14.919821
8              Greece   58.021309
9               Italy  179.378744
10              Japan   70.806094
11             Mexico    7.226969
12        Netherlands  278.216243
13        New Zealand    0.318607
14             Norway   11.766616
15           Portugal    8.855222
16              Spain   27.703122
17             Sweden    6.916302
18     United Kingdom  104.379268
19      United States    4.640441

# Food Production (country)

In [99]:
food_prod_df = pd.read_csv('food_production.csv')

In [100]:
food_prod_df

,Entity,Code,Year,All food - Food available for consumption (kilocalories per day per capita)
0,Afghanistan,AFG,1961,2914.3484
1,Afghanistan,AFG,1962,2835.6074
2,Afghanistan,AFG,1963,2623.7017
3,Afghanistan,AFG,1964,2872.5679
4,Afghanistan,AFG,1965,2876.1790
...,...,...,...,...
12812,Zimbabwe,ZWE,2018,2070.6480
12813,Zimbabwe,ZWE,2019,2038.3292
12814,Zimbabwe,ZWE,2020,2035.4874
12815,Zimbabwe,ZWE,2021,2083.9880
12816,Zimbabwe,ZWE,2022,2072.4438

In [101]:
food_prod_df = food_prod_df[food_prod_df['Entity'].isin(countries)]
food_prod_df = food_prod_df[food_prod_df['Year'].isin([1989,1990,1991])]
food_prod_df

,Entity,Code,Year,All food - Food available for consumption (kilocalories per day per capita)
741,Australia,AUS,1989,3129.5898
742,Australia,AUS,1990,3168.5690
743,Australia,AUS,1991,3115.3901
803,Austria,AUT,1989,3482.8357
804,Austria,AUT,1990,3505.5999
805,Austria,AUT,1991,3541.7249
1883,Canada,CAN,1989,3032.7717
1884,Canada,CAN,1990,3008.7020
1885,Canada,CAN,1991,3025.9940
2963,Denmark,DNK,1989,3180.6948
2964,Denmark,DNK,1990,3160.3704
2965,Denmark,DNK,1991,3226.7834
4048,Finland,FIN,1989,3230.2595
4049,Finland,FIN,1990,3145.2673
4050,Finland,FIN,1991,3103.9705
4110,France,FRA,1989,3549.4080
4111,France,FRA,1990,3497.1265
4112,France,FRA,1991,3530.2688
4389,Germany,DEU,1989,3446.7156
4390,Germany,DEU,1990,3292.8718
4391,Germany,DEU,1991,3352.9104
4513,Greece,GRC,1989,3585.9338
4514,Greece,GRC,1990,3506.3567
4515,Greece,GRC,1991,3517.5254
5629,Italy,ITA,1989,3545.4692
5630,Italy,ITA,1990,3574.4550
5631,Italy,ITA,1991,3633.9133
5753,Japan,JPN,1989,2942.0403
5754,Japan,JPN,1990,2920.5083
5755,Japan,JPN,1991,2905.8920
7343,Mexico,MEX,1989,3090.8867
7344,Mexico,MEX,1990,3085.7534
7345,Mexico,MEX,1991,3111.4705
8019,Netherlands,NLD,1989,3124.9382
8020,Netherlands,NLD,1990,3249.2563
8021,Netherlands,NLD,1991,3308.2340
8192,New Zealand,NZL,1989,3101.0762
8193,New Zealand,NZL,1990,3257.9770
8194,New Zealand,NZL,1991,3163.9265
8777,Norway,NOR,1989,3182.7854
8778,Norway,NOR,1990,3154.9285
8779,Norway,NOR,1991,3222.2888
9381,Portugal,PRT,1989,3321.2932
9382,Portugal,PRT,1990,3372.1616
9383,Portugal,PRT,1991,3412.0837
10840,Spain,ESP,1989,3221.6077
10841,Spain,ESP,1990,3243.1536
10842,Spain,ESP,1991,3390.1020
11088,Sweden,SWE,1989,2983.6228
11089,Sweden,SWE,1990,2973.1490
11090,Sweden,SWE,1991,2942.0154
11915,United Kingdom,GBR,1989,3221.8306
11916,United Kingdom,GBR,1990,3244.2278
11917,United Kingdom,GBR,1991,3209.3823
11977,United States,USA,1989,3450.2002
11978,United States,USA,1990,3508.6280
11979,United States,USA,1991,3530.3162

In [102]:
food_prod_df = food_prod_df.groupby(['Entity'], as_index=False).mean('All food - Food available for consumption (kilocalories per day per capita)')

In [103]:
food_prod_df

,Entity,Year,All food - Food available for consumption (kilocalories per day per capita)
0,Australia,1990.0,3137.849633
1,Austria,1990.0,3510.053500
2,Canada,1990.0,3022.489233
3,Denmark,1990.0,3189.282867
4,Finland,1990.0,3159.832433
5,France,1990.0,3525.601100
6,Germany,1990.0,3364.165933
7,Greece,1990.0,3536.605300
8,Italy,1990.0,3584.612500
9,Japan,1990.0,2922.813533
10,Mexico,1990.0,3096.036867
11,Netherlands,1990.0,3227.476167
12,New Zealand,1990.0,3174.326567
13,Norway,1990.0,3186.667567
14,Portugal,1990.0,3368.512833
15,Spain,1990.0,3284.954433
16,Sweden,1990.0,2966.262400
17,United Kingdom,1990.0,3225.146900
18,United States,1990.0,3496.381467

In [104]:
food_prod_ind = food_prod_df[['Entity', 'All food - Food available for consumption (kilocalories per day per capita)']]

In [105]:
food_prod_ind.rename(columns={'Entity': 'country', 'All food - Food available for consumption (kilocalories per day per capita)': 'LANDUSE'}, inplace=True)
food_prod_ind

/var/folders/zb/1l6zqm8d6t1ct_t_j9czl0900000gp/T/ipykernel_6942/2478178889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_prod_ind.rename(columns={'Entity': 'country', 'All food - Food available for consumption (kilocalories per day per capita)': 'LANDUSE'}, inplace=True)

           country      LANDUSE
0        Australia  3137.849633
1          Austria  3510.053500
2           Canada  3022.489233
3          Denmark  3189.282867
4          Finland  3159.832433
5           France  3525.601100
6          Germany  3364.165933
7           Greece  3536.605300
8            Italy  3584.612500
9            Japan  2922.813533
10          Mexico  3096.036867
11     Netherlands  3227.476167
12     New Zealand  3174.326567
13          Norway  3186.667567
14        Portugal  3368.512833
15           Spain  3284.954433
16          Sweden  2966.262400
17  United Kingdom  3225.146900
18   United States  3496.381467

# Last minute cleaning

In [106]:
shareholder_int.loc[15, 'country'] = "United Kingdom"
shareholder_int.loc[16, 'country'] = "United States"
shareholder_int

           country  minority
0        Australia         4
1           Canada         5
8      New Zealand         4
15  United Kingdom         5
16   United States         5
19         Belgium         0
25          France         3
26          Greece         2
28           Italy         1
30          Mexico         1
31     Netherlands         2
34        Portugal         3
35           Spain         4
39         Austria         2
40         Germany         1
41           Japan         4
45         Denmark         2
46         Finland         3
47          Norway         4
48          Sweden         3

In [107]:
creditor_int.loc[15, 'country'] = "United Kingdom"
creditor_int.loc[16, 'country'] = "United States"

creditor_int

           country  creditor
0        Australia       1.0
1           Canada       1.0
8      New Zealand       3.0
15  United Kingdom       4.0
16   United States       1.0
19         Belgium       2.0
25          France       0.0
26          Greece       1.0
28           Italy       2.0
30          Mexico       0.0
31     Netherlands       2.0
34        Portugal       1.0
35           Spain       2.0
39         Austria       3.0
40         Germany       3.0
41           Japan       2.0
45         Denmark       3.0
46         Finland       1.0
47          Norway       2.0
48          Sweden       2.0

In [108]:
cap_ind['OBS COUNTRY'] = cap_ind['OBS COUNTRY'].str.title()
cap_ind.loc[128, 'OBS COUNTRY'] = "United Kingdom"
cap_ind.loc[65, 'OBS COUNTRY'] = "United States"
cap_ind.rename(columns={'OBS COUNTRY': 'country'}, inplace=True)

cap_ind

/var/folders/zb/1l6zqm8d6t1ct_t_j9czl0900000gp/T/ipykernel_6942/1362294594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cap_ind['OBS COUNTRY'] = cap_ind['OBS COUNTRY'].str.title()
/var/folders/zb/1l6zqm8d6t1ct_t_j9czl0900000gp/T/ipykernel_6942/1362294594.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cap_ind.rename(columns={'OBS COUNTRY': 'country'}, inplace=True)

            country     KAPW
49           Canada  41422.0
59           Mexico      NaN
65    United States  32046.0
89            Japan  40256.0
106         Austria  28245.0
107         Belgium  42670.0
109         Denmark  30878.0
110         Finland  46451.0
111          France  38093.0
112         Germany  38261.0
113          Greece  15310.0
117           Italy  32968.0
120     Netherlands      NaN
121          Norway  50932.0
123        Portugal      NaN
124           Spain  26221.0
125          Sweden  25256.0
128  United Kingdom  22600.0
130       Australia  29829.0
132     New Zealand      NaN

# Final Merging

In [109]:
from functools import reduce

dfs = [stock_ind, acct_int, shareholder_int, creditor_int, educ_ind, crowdout_df, food_prod_ind, cap_ind, forest_ind]

country_df = reduce(
    lambda left, right: left.merge(right, on=['country'], how='left'),
    dfs
)

In [110]:
country_df.rename(columns={'stmktcap': 'MCAP', 'stvaltraded': 'STRADE', 'llgdp': 'LLY', 
                          'pcrdbofgdp': 'DC', 'concentration': 'CONC', 'netintmargin': 'MARGIN',
                          'Accounting standards': 'ACSTAN', 'minority': 'MINORITY', 'creditor': 'CREDITOR',
                          'yr_sch_sec': 'SECSCH', 'Harvesters (89-91)': 'AGRILW', 'KAPW': 'KAPW', 
                          'roundwood': 'RWOODW', 'debt_pct_gdp': 'GOVBOR', 'savings (% of GDP)': 'DOMSAV'}, inplace=True)
country_df.drop_duplicates()

,country,MCAP,STRADE,LLY,DC,CONC,MARGIN,ACSTAN,MINORITY,CREDITOR,SECSCH,DOMSAV,GOVBOR,govsav,LANDUSE,KAPW,WOODINT
0,Australia,42.812357,13.914340,49.328823,54.746597,69.252702,1.953893,75.0,4,1.0,4.525,26.816831,18.343437,0.684027,3137.849633,29829.0,6.904051
1,Austria,14.557643,18.606600,82.969203,84.562127,75.963210,1.889646,54.0,2,3.0,3.905,26.391596,56.441457,2.138615,3510.053500,28245.0,24.390287
2,Belgium,36.275593,4.142271,44.893313,33.717280,74.428318,1.341341,61.0,0,2.0,2.860,25.089465,129.503603,5.161673,NaN,42670.0,83.563928
3,Canada,85.556283,13.229240,70.843760,86.170687,63.535232,2.001673,74.0,5,1.0,3.830,21.338621,75.463067,3.536455,3022.489233,41422.0,2.981228
4,Denmark,29.966610,8.755923,55.480680,47.518983,82.209169,1.335208,62.0,2,3.0,3.435,25.764425,69.321148,2.690576,3189.282867,30878.0,65.716048
5,Finland,20.109013,4.337977,53.874213,80.978377,93.655040,1.059475,77.0,3,1.0,2.750,27.437557,16.671445,0.607614,3159.832433,46451.0,12.472792
6,France,26.900317,9.277292,60.171230,87.092050,58.298878,0.955294,69.0,3,0.0,2.580,23.707280,36.696338,1.547893,3525.601100,38093.0,11.336249
7,Germany,22.478490,27.951733,61.496780,86.364397,69.309722,1.074524,62.0,1,3.0,1.985,24.851373,39.805053,1.601725,3364.165933,38261.0,14.919821
8,Greece,9.802831,3.832698,56.469630,28.613423,72.971273,2.598392,55.0,2,1.0,2.110,15.902408,70.195844,4.414165,3536.605300,15310.0,58.021309
9,Italy,14.322540,3.456858,58.430563,50.015873,58.115772,1.928355,62.0,1,2.0,2.465,22.863943,95.241272,4.165566,3584.612500,32968.0,179.378744
10,Japan,108.728517,61.393273,180.934200,164.211033,39.355071,1.148340,65.0,4,2.0,3.110,36.363000,63.763908,1.753538,2922.813533,40256.0,70.806094
11,Mexico,14.428010,6.028013,15.915800,13.604487,58.345316,6.340357,60.0,1,0.0,1.625,21.339760,NaN,NaN,3096.036867,NaN,7.226969
12,Netherlands,46.701507,14.577270,72.458017,71.536290,82.025541,1.141489,64.0,2,2.0,3.800,29.142532,74.524892,2.557255,3227.476167,NaN,278.216243
13,New Zealand,27.071080,3.562489,68.391540,73.763837,75.013145,1.997703,70.0,4,3.0,3.825,22.021271,NaN,NaN,3174.326567,NaN,0.318607
14,Norway,20.626590,10.651704,56.175533,76.628360,91.837824,1.805262,74.0,4,2.0,2.620,30.535635,33.507988,1.097340,3186.667567,50932.0,11.766616
15,Portugal,12.845623,2.467888,71.807387,43.411270,79.246452,1.652185,36.0,3,1.0,1.315,20.649751,60.148913,2.912815,3368.512833,NaN,8.855222
16,Spain,23.972027,8.173612,64.521903,72.803577,68.878797,1.829972,64.0,4,2.0,1.620,22.181131,41.012561,1.848984,3284.954433,26221.0,27.703122
17,Sweden,43.191820,7.383486,45.856183,109.685140,94.210712,1.448935,83.0,3,2.0,4.080,26.523569,42.915598,1.618017,2966.262400,25256.0,6.916302
18,United Kingdom,80.032653,29.949097,80.058820,98.365660,52.146097,1.496118,78.0,5,4.0,2.775,14.565015,29.473437,2.023578,3225.146900,22600.0,104.379268
19,United States,56.149943,36.418083,70.550740,113.402933,29.760864,3.617119,59.0,5,1.0,5.080,20.281955,63.054769,3.108910,3496.381467,32046.0,4.640441

In [111]:
cap_us_ind
cap_us_ind['CapUS'] = cap_us_ind['Capital Formation']/cap_us_ind['Value Added']
cap_us_ind

,Economic activity,Reference area,Capital Formation,Value Added,labor/employment,CapUS
0,Electrical Machinery,United States,5112.666667,39979.004998,0.127884,0.127884
1,"Furniture & Fixtures, Pottery, China, Glass Pr...",United States,6836.000000,NaN,NaN,NaN
2,Metal Products,United States,7551.333333,74332.651539,0.101588,0.101588
3,Motor Vehicles,United States,16269.666667,56984.118932,0.285512,0.285512
4,Non-Electrical Machinery,United States,11184.666667,84101.293646,0.132990,0.132990
5,Non-Metallic Products nec.,United States,4682.333333,28520.805533,0.164173,0.164173
6,Office & Computing,United States,28997.666667,111444.627389,0.260198,0.260198
7,Other chemicals,United States,30447.000000,77903.214096,0.390831,0.390831
8,Paper & Products,United States,11296.000000,45400.395204,0.248808,0.248808
9,Petroleum & Coal Products,United States,25924.000000,56318.890714,0.460307,0.460307
10,Petroleum Refineries,United States,7792.666667,27667.040842,0.281659,0.281659
11,Printing & Publishing,United States,3786.666667,30660.118355,0.123505,0.123505
12,Professional Goods,United States,56800.000000,506536.600064,0.112134,0.112134
13,"Radio, TV & Communication",United States,74214.333333,54298.552029,1.366783,1.366783
14,Rubber & Plastic Products,United States,6131.333333,37949.554753,0.161565,0.161565
15,"Textiles, Apparel & Leather",United States,3038.666667,23588.954461,0.128817,0.128817
16,Transport Equipment,United States,28947.333333,129128.045241,0.224175,0.224175
17,Wearing Apparel,United States,1074.000000,17248.547548,0.062266,0.062266
18,Wood Products,United States,1974.666667,18490.056150,0.106796,0.106796

In [112]:
roundwood_ind['country'].unique()

array(['Australia', 'Denmark', 'Finland', 'United States', 'Canada',
       'France', 'Germany', 'Netherlands', 'Mexico', 'Norway', 'Sweden',
       'Italy'], dtype=object)

In [113]:
country_indus_df = r_ind.merge(finint_ind, how = 'left', left_on= 'Economic activity', right_on = 'Industrial_sectors')
country_indus_df

,Economic activity,Reference area,Net Exports,r,Industrial_sectors,External_Finance
0,Beverages,Austria,NaN,NaN,Beverages,0.08
1,Beverages,Canada,67.885133,1.011009,Beverages,0.08
2,Beverages,Denmark,-58.303033,0.992633,Beverages,0.08
3,Beverages,Finland,-24.883833,0.964698,Beverages,0.08
4,Beverages,Japan,-2005.853067,0.999651,Beverages,0.08
...,...,...,...,...,...,...
340,Wood Products,Norway,-58.075033,0.995922,Wood Products,0.28
341,Wood Products,Portugal,820.239067,2.015405,Wood Products,0.28
342,Wood Products,Sweden,1681.445067,1.033939,Wood Products,0.28
343,Wood Products,United Kingdom,-3565.742600,0.549311,Wood Products,0.28
344,Wood Products,United States,-1733.978250,0.970091,Wood Products,0.28

In [114]:
country_indus_df = country_indus_df.merge(cap_us_ind, how = "left", left_on = ["Economic activity"], right_on = ["Economic activity"])
country_indus_df = country_indus_df.drop(columns = 'Reference area_y')
country_indus_df

,Economic activity,Reference area_x,Net Exports,r,Industrial_sectors,External_Finance,Capital Formation,Value Added,labor/employment,CapUS
0,Beverages,Austria,NaN,NaN,Beverages,0.08,NaN,NaN,NaN,NaN
1,Beverages,Canada,67.885133,1.011009,Beverages,0.08,NaN,NaN,NaN,NaN
2,Beverages,Denmark,-58.303033,0.992633,Beverages,0.08,NaN,NaN,NaN,NaN
3,Beverages,Finland,-24.883833,0.964698,Beverages,0.08,NaN,NaN,NaN,NaN
4,Beverages,Japan,-2005.853067,0.999651,Beverages,0.08,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
340,Wood Products,Norway,-58.075033,0.995922,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796
341,Wood Products,Portugal,820.239067,2.015405,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796
342,Wood Products,Sweden,1681.445067,1.033939,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796
343,Wood Products,United Kingdom,-3565.742600,0.549311,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796
344,Wood Products,United States,-1733.978250,0.970091,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796

In [115]:
country_indus_df = country_indus_df.merge(arableland_ind, how = "left", left_on = ["Economic activity", 'Reference area_x'], right_on = ["Economic activity", 'country'])
country_indus_df = country_indus_df.drop(columns = 'country')
country_indus_df

,Economic activity,Reference area_x,Net Exports,r,Industrial_sectors,External_Finance,Capital Formation,Value Added,labor/employment,CapUS,AGRILW
0,Beverages,Austria,NaN,NaN,Beverages,0.08,NaN,NaN,NaN,NaN,NaN
1,Beverages,Canada,67.885133,1.011009,Beverages,0.08,NaN,NaN,NaN,NaN,NaN
2,Beverages,Denmark,-58.303033,0.992633,Beverages,0.08,NaN,NaN,NaN,NaN,234.968500
3,Beverages,Finland,-24.883833,0.964698,Beverages,0.08,NaN,NaN,NaN,NaN,261.102662
4,Beverages,Japan,-2005.853067,0.999651,Beverages,0.08,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
340,Wood Products,Norway,-58.075033,0.995922,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796,28.143322
341,Wood Products,Portugal,820.239067,2.015405,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796,NaN
342,Wood Products,Sweden,1681.445067,1.033939,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796,36.706206
343,Wood Products,United Kingdom,-3565.742600,0.549311,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796,NaN
344,Wood Products,United States,-1733.978250,0.970091,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796,173.740966

In [116]:
country_indus_df = country_indus_df.merge(roundwood_ind, how = "left", left_on = ["Economic activity", 'Reference area_x'], right_on = ["Economic activity", 'country'])
country_indus_df = country_indus_df.drop(columns = 'country')
country_indus_df

,Economic activity,Reference area_x,Net Exports,r,Industrial_sectors,External_Finance,Capital Formation,Value Added,labor/employment,CapUS,AGRILW,ROUNDWOODW
0,Beverages,Austria,NaN,NaN,Beverages,0.08,NaN,NaN,NaN,NaN,NaN,NaN
1,Beverages,Canada,67.885133,1.011009,Beverages,0.08,NaN,NaN,NaN,NaN,NaN,NaN
2,Beverages,Denmark,-58.303033,0.992633,Beverages,0.08,NaN,NaN,NaN,NaN,234.968500,0.204905
3,Beverages,Finland,-24.883833,0.964698,Beverages,0.08,NaN,NaN,NaN,NaN,261.102662,4.745247
4,Beverages,Japan,-2005.853067,0.999651,Beverages,0.08,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
340,Wood Products,Norway,-58.075033,0.995922,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796,28.143322,0.372421
341,Wood Products,Portugal,820.239067,2.015405,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796,NaN,NaN
342,Wood Products,Sweden,1681.445067,1.033939,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796,36.706206,0.692838
343,Wood Products,United Kingdom,-3565.742600,0.549311,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796,NaN,NaN
344,Wood Products,United States,-1733.978250,0.970091,Wood Products,0.28,1974.666667,18490.05615,0.106796,0.106796,173.740966,0.475365

In [117]:
country_indus_df = country_indus_df.drop(['Value Added'], axis = 1)
country_indus_df

,Economic activity,Reference area_x,Net Exports,r,Industrial_sectors,External_Finance,Capital Formation,labor/employment,CapUS,AGRILW,ROUNDWOODW
0,Beverages,Austria,NaN,NaN,Beverages,0.08,NaN,NaN,NaN,NaN,NaN
1,Beverages,Canada,67.885133,1.011009,Beverages,0.08,NaN,NaN,NaN,NaN,NaN
2,Beverages,Denmark,-58.303033,0.992633,Beverages,0.08,NaN,NaN,NaN,234.968500,0.204905
3,Beverages,Finland,-24.883833,0.964698,Beverages,0.08,NaN,NaN,NaN,261.102662,4.745247
4,Beverages,Japan,-2005.853067,0.999651,Beverages,0.08,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
340,Wood Products,Norway,-58.075033,0.995922,Wood Products,0.28,1974.666667,0.106796,0.106796,28.143322,0.372421
341,Wood Products,Portugal,820.239067,2.015405,Wood Products,0.28,1974.666667,0.106796,0.106796,NaN,NaN
342,Wood Products,Sweden,1681.445067,1.033939,Wood Products,0.28,1974.666667,0.106796,0.106796,36.706206,0.692838
343,Wood Products,United Kingdom,-3565.742600,0.549311,Wood Products,0.28,1974.666667,0.106796,0.106796,NaN,NaN
344,Wood Products,United States,-1733.978250,0.970091,Wood Products,0.28,1974.666667,0.106796,0.106796,173.740966,0.475365

In [118]:
country_indus_df

,Economic activity,Reference area_x,Net Exports,r,Industrial_sectors,External_Finance,Capital Formation,labor/employment,CapUS,AGRILW,ROUNDWOODW
0,Beverages,Austria,NaN,NaN,Beverages,0.08,NaN,NaN,NaN,NaN,NaN
1,Beverages,Canada,67.885133,1.011009,Beverages,0.08,NaN,NaN,NaN,NaN,NaN
2,Beverages,Denmark,-58.303033,0.992633,Beverages,0.08,NaN,NaN,NaN,234.968500,0.204905
3,Beverages,Finland,-24.883833,0.964698,Beverages,0.08,NaN,NaN,NaN,261.102662,4.745247
4,Beverages,Japan,-2005.853067,0.999651,Beverages,0.08,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
340,Wood Products,Norway,-58.075033,0.995922,Wood Products,0.28,1974.666667,0.106796,0.106796,28.143322,0.372421
341,Wood Products,Portugal,820.239067,2.015405,Wood Products,0.28,1974.666667,0.106796,0.106796,NaN,NaN
342,Wood Products,Sweden,1681.445067,1.033939,Wood Products,0.28,1974.666667,0.106796,0.106796,36.706206,0.692838
343,Wood Products,United Kingdom,-3565.742600,0.549311,Wood Products,0.28,1974.666667,0.106796,0.106796,NaN,NaN
344,Wood Products,United States,-1733.978250,0.970091,Wood Products,0.28,1974.666667,0.106796,0.106796,173.740966,0.475365

In [119]:
country_indus_df.rename(columns={'Economic activity': 'Industry', 'Reference area_x': 'country', 'External_Finance': 'FININT', 
                                'labor/employment': 'LabcomUS', 'CapUS': 'CapUS'}, inplace=True)
country_indus_df

,Industry,country,Net Exports,r,Industrial_sectors,FININT,Capital Formation,LabcomUS,CapUS,AGRILW,ROUNDWOODW
0,Beverages,Austria,NaN,NaN,Beverages,0.08,NaN,NaN,NaN,NaN,NaN
1,Beverages,Canada,67.885133,1.011009,Beverages,0.08,NaN,NaN,NaN,NaN,NaN
2,Beverages,Denmark,-58.303033,0.992633,Beverages,0.08,NaN,NaN,NaN,234.968500,0.204905
3,Beverages,Finland,-24.883833,0.964698,Beverages,0.08,NaN,NaN,NaN,261.102662,4.745247
4,Beverages,Japan,-2005.853067,0.999651,Beverages,0.08,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
340,Wood Products,Norway,-58.075033,0.995922,Wood Products,0.28,1974.666667,0.106796,0.106796,28.143322,0.372421
341,Wood Products,Portugal,820.239067,2.015405,Wood Products,0.28,1974.666667,0.106796,0.106796,NaN,NaN
342,Wood Products,Sweden,1681.445067,1.033939,Wood Products,0.28,1974.666667,0.106796,0.106796,36.706206,0.692838
343,Wood Products,United Kingdom,-3565.742600,0.549311,Wood Products,0.28,1974.666667,0.106796,0.106796,NaN,NaN
344,Wood Products,United States,-1733.978250,0.970091,Wood Products,0.28,1974.666667,0.106796,0.106796,173.740966,0.475365

In [120]:
total_df = country_indus_df.merge(country_df, how = 'left', left_on =  "country", right_on = "country")
total_df

,Industry,country,Net Exports,r,Industrial_sectors,FININT,Capital Formation,LabcomUS,CapUS,AGRILW,...,ACSTAN,MINORITY,CREDITOR,SECSCH,DOMSAV,GOVBOR,govsav,LANDUSE,KAPW,WOODINT
0,Beverages,Austria,NaN,NaN,Beverages,0.08,NaN,NaN,NaN,NaN,...,54.0,2,3.0,3.905,26.391596,56.441457,2.138615,3510.053500,28245.0,24.390287
1,Beverages,Canada,67.885133,1.011009,Beverages,0.08,NaN,NaN,NaN,NaN,...,74.0,5,1.0,3.830,21.338621,75.463067,3.536455,3022.489233,41422.0,2.981228
2,Beverages,Denmark,-58.303033,0.992633,Beverages,0.08,NaN,NaN,NaN,234.968500,...,62.0,2,3.0,3.435,25.764425,69.321148,2.690576,3189.282867,30878.0,65.716048
3,Beverages,Finland,-24.883833,0.964698,Beverages,0.08,NaN,NaN,NaN,261.102662,...,77.0,3,1.0,2.750,27.437557,16.671445,0.607614,3159.832433,46451.0,12.472792
4,Beverages,Japan,-2005.853067,0.999651,Beverages,0.08,NaN,NaN,NaN,NaN,...,65.0,4,2.0,3.110,36.363000,63.763908,1.753538,2922.813533,40256.0,70.806094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Wood Products,Norway,-58.075033,0.995922,Wood Products,0.28,1974.666667,0.106796,0.106796,28.143322,...,74.0,4,2.0,2.620,30.535635,33.507988,1.097340,3186.667567,50932.0,11.766616
341,Wood Products,Portugal,820.239067,2.015405,Wood Products,0.28,1974.666667,0.106796,0.106796,NaN,...,36.0,3,1.0,1.315,20.649751,60.148913,2.912815,3368.512833,NaN,8.855222
342,Wood Products,Sweden,1681.445067,1.033939,Wood Products,0.28,1974.666667,0.106796,0.106796,36.706206,...,83.0,3,2.0,4.080,26.523569,42.915598,1.618017,2966.262400,25256.0,6.916302
343,Wood Products,United Kingdom,-3565.742600,0.549311,Wood Products,0.28,1974.666667,0.106796,0.106796,NaN,...,78.0,5,4.0,2.775,14.565015,29.473437,2.023578,3225.146900,22600.0,104.379268
344,Wood Products,United States,-1733.978250,0.970091,Wood Products,0.28,1974.666667,0.106796,0.106796,173.740966,...,59.0,5,1.0,5.080,20.281955,63.054769,3.108910,3496.381467,32046.0,4.640441

In [121]:
# total_df = total_df.merge(forestry_ind, how = 'left', left_on = 'country', right_on= 'Name')
# #total_df.rename(columns={'Cons/Prod': 'WOODINT'}, inplace=True)
# #total_df =total_df.drop(columns = ['Name'])
# total_df

In [122]:
total_df

,Industry,country,Net Exports,r,Industrial_sectors,FININT,Capital Formation,LabcomUS,CapUS,AGRILW,...,ACSTAN,MINORITY,CREDITOR,SECSCH,DOMSAV,GOVBOR,govsav,LANDUSE,KAPW,WOODINT
0,Beverages,Austria,NaN,NaN,Beverages,0.08,NaN,NaN,NaN,NaN,...,54.0,2,3.0,3.905,26.391596,56.441457,2.138615,3510.053500,28245.0,24.390287
1,Beverages,Canada,67.885133,1.011009,Beverages,0.08,NaN,NaN,NaN,NaN,...,74.0,5,1.0,3.830,21.338621,75.463067,3.536455,3022.489233,41422.0,2.981228
2,Beverages,Denmark,-58.303033,0.992633,Beverages,0.08,NaN,NaN,NaN,234.968500,...,62.0,2,3.0,3.435,25.764425,69.321148,2.690576,3189.282867,30878.0,65.716048
3,Beverages,Finland,-24.883833,0.964698,Beverages,0.08,NaN,NaN,NaN,261.102662,...,77.0,3,1.0,2.750,27.437557,16.671445,0.607614,3159.832433,46451.0,12.472792
4,Beverages,Japan,-2005.853067,0.999651,Beverages,0.08,NaN,NaN,NaN,NaN,...,65.0,4,2.0,3.110,36.363000,63.763908,1.753538,2922.813533,40256.0,70.806094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Wood Products,Norway,-58.075033,0.995922,Wood Products,0.28,1974.666667,0.106796,0.106796,28.143322,...,74.0,4,2.0,2.620,30.535635,33.507988,1.097340,3186.667567,50932.0,11.766616
341,Wood Products,Portugal,820.239067,2.015405,Wood Products,0.28,1974.666667,0.106796,0.106796,NaN,...,36.0,3,1.0,1.315,20.649751,60.148913,2.912815,3368.512833,NaN,8.855222
342,Wood Products,Sweden,1681.445067,1.033939,Wood Products,0.28,1974.666667,0.106796,0.106796,36.706206,...,83.0,3,2.0,4.080,26.523569,42.915598,1.618017,2966.262400,25256.0,6.916302
343,Wood Products,United Kingdom,-3565.742600,0.549311,Wood Products,0.28,1974.666667,0.106796,0.106796,NaN,...,78.0,5,4.0,2.775,14.565015,29.473437,2.023578,3225.146900,22600.0,104.379268
344,Wood Products,United States,-1733.978250,0.970091,Wood Products,0.28,1974.666667,0.106796,0.106796,173.740966,...,59.0,5,1.0,5.080,20.281955,63.054769,3.108910,3496.381467,32046.0,4.640441

In [123]:
total_df.columns

Index(['Industry', 'country', 'Net Exports', 'r', 'Industrial_sectors',
       'FININT', 'Capital Formation', 'LabcomUS', 'CapUS', 'AGRILW',
       'ROUNDWOODW', 'MCAP', 'STRADE', 'LLY', 'DC', 'CONC', 'MARGIN', 'ACSTAN',
       'MINORITY', 'CREDITOR', 'SECSCH', 'DOMSAV', 'GOVBOR', 'govsav',
       'LANDUSE', 'KAPW', 'WOODINT'],
      dtype='object')

In [124]:
total_df= total_df.drop(columns = ['Industrial_sectors'])

In [125]:
total_df.to_csv('replication_data.csv')